ncsdatamovement/linkedTemplates/ArmTemplate_0.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory name",
			"defaultValue": "ncsdatamovement"
		},
		"67Server_connectionString": {
			"type": "secureString",
			"metadata": "Secure string for 'connectionString' of '67Server'"
		},
		"67ServerNew_connectionString": {
			"type": "secureString",
			"metadata": "Secure string for 'connectionString' of '67ServerNew'"
		},
		"AzureBlobNCSArchive_connectionString": {
			"type": "secureString",
			"metadata": "Secure string for 'connectionString' of 'AzureBlobNCSArchive'"
		},
		"AzureDatafoundation_connectionString": {
			"type": "secureString",
			"metadata": "Secure string for 'connectionString' of 'AzureDatafoundation'"
		},
		"AzureSqlMI1_connectionString": {
			"type": "secureString",
			"metadata": "Secure string for 'connectionString' of 'AzureSqlMI1'"
		},
		"AzureSynapseAnalyticsBackup_connectionString": {
			"type": "secureString",
			"metadata": "Secure string for 'connectionString' of 'AzureSynapseAnalyticsBackup'"
		},
		"DFSQLDB_connectionString": {
			"type": "secureString",
			"metadata": "Secure string for 'connectionString' of 'DFSQLDB'"
		},
		"DataFoundationDW_connectionString": {
			"type": "secureString",
			"metadata": "Secure string for 'connectionString' of 'DataFoundationDW'"
		},
		"DataFoundationDW_servicePrincipalKey": {
			"type": "secureString",
			"metadata": "Secure string for 'servicePrincipalKey' of 'DataFoundationDW'"
		},
		"DatafoundationADLS_connectionString": {
			"type": "secureString",
			"metadata": "Secure string for 'connectionString' of 'DatafoundationADLS'"
		},
		"TASDB_connectionString": {
			"type": "secureString",
			"metadata": "Secure string for 'connectionString' of 'TASDB'"
		},
		"DataFoundationDW_properties_typeProperties_servicePrincipalId": {
			"type": "string",
			"defaultValue": "7ec6607e-638a-46bf-9ff0-ea38bacb5ea9"
		},
		"DataFoundationDW_properties_typeProperties_tenant": {
			"type": "string",
			"defaultValue": "515445df-f272-4c96-aa97-d670cbdeab20"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/AASPause')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Web1",
						"type": "WebActivity",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"url": "https://management.azure.com/subscriptions/15354be3-bb86-4045-a1a1-7bf7d9ba1c31/resourceGroups/DBRDashboard/providers/Microsoft.AnalysisServices/servers/dbrdashboard/Suspend?api-version=2017-08-01",
							"method": "POST",
							"headers": {},
							"body": {
								"Dummy": "Dummy"
							},
							"authentication": {
								"type": "MSI",
								"resource": "https://management.azure.com/"
							}
						}
					}
				],
				"annotations": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/AASResume')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Web1",
						"type": "WebActivity",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"url": "https://management.azure.com/subscriptions/15354be3-bb86-4045-a1a1-7bf7d9ba1c31/resourceGroups/DBRDashboard/providers/Microsoft.AnalysisServices/servers/dbrdashboard/resume?api-version=2017-08-01",
							"method": "POST",
							"headers": {},
							"body": {
								"Dummy": "Dummy"
							},
							"authentication": {
								"type": "MSI",
								"resource": "https://management.azure.com/"
							}
						}
					}
				],
				"annotations": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/AASServiceStatus')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Web1",
						"type": "WebActivity",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"url": "https://management.azure.com/subscriptions/15354be3-bb86-4045-a1a1-7bf7d9ba1c31/resourceGroups/DBRDashboard/providers/Microsoft.AnalysisServices/servers/dbrdashboard?api-version=2017-08-01",
							"method": "GET",
							"headers": {},
							"authentication": {
								"type": "MSI",
								"resource": "https://management.azure.com/"
							}
						}
					}
				],
				"annotations": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/ApplicationId')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Web1",
						"type": "WebActivity",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"url": "https://management.azure.com/subscriptions/15354be3-bb86-4045-a1a1-7bf7d9ba1c31/resourceGroups/DataFoundation/providers/Microsoft.DataFactory/factories/ncsdatamovement?api-version=2018-06-01",
							"method": "PATCH",
							"headers": {},
							"body": {
								"name": "ncsdatamovement",
								"location": "eastus2",
								"identity": {
									"type": "SystemAssigned"
								}
							},
							"authentication": {
								"type": "MSI",
								"resource": "https://management.azure.com"
							}
						}
					}
				],
				"annotations": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/CubeProcess')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "CubeProcess",
						"type": "WebActivity",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"url": {
								"value": "https://aspaaseastus2.asazure.windows.net/servers/dbrdashboard/models/PG_DMS/refreshes",
								"type": "Expression"
							},
							"method": "POST",
							"headers": {},
							"body": {
								"Type": "Full",
								"CommitMode": "transactional",
								"MaxParallelism": 2,
								"RetryCount": 2,
								"Objects": [
									{
										"database": "PG_DMS",
										"table": "tblFactCOS",
										"partition": "PartitionCurrentQuarter_FactCOSData"
									}
								]
							},
							"authentication": {
								"type": "MSI",
								"resource": "https://*.asazure.windows.net"
							}
						}
					},
					{
						"name": "CubeProcess_copy1",
						"type": "WebActivity",
						"dependsOn": [
							{
								"activity": "Wait1",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"url": {
								"value": "https://aspaaseastus2.asazure.windows.net/servers/dbrdashboard/models/PG_DMS/refreshes",
								"type": "Expression"
							},
							"method": "GET",
							"headers": {},
							"body": {
								"Type": "Full",
								"CommitMode": "transactional",
								"MaxParallelism": 2,
								"RetryCount": 2,
								"Objects": [
									{
										"database": "PG_DMS",
										"table": "tblFactCFR",
										"partition": "PartitionCurrentQuarter_FactCFRData"
									},
									{
										"database": "PG_DMS",
										"table": "tblFactCOS",
										"partition": "PartitionCurrentQuarter_FactCOSData"
									}
								]
							},
							"authentication": {
								"type": "MSI",
								"resource": "https://*.asazure.windows.net"
							}
						}
					},
					{
						"name": "Wait1",
						"type": "Wait",
						"dependsOn": [
							{
								"activity": "CubeProcess",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"waitTimeInSeconds": 30
						}
					},
					{
						"name": "Set variable1",
						"type": "SetVariable",
						"dependsOn": [
							{
								"activity": "CubeProcess_copy1",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"variableName": "testStatus",
							"value": {
								"value": "@activity('CubeProcess_copy1').output.Response.firstRow.status",
								"type": "Expression"
							}
						}
					}
				],
				"parameters": {
					"region": {
						"type": "string",
						"defaultValue": "aspaaseastus2"
					},
					"server": {
						"type": "string",
						"defaultValue": "dbrdashboard"
					},
					"model": {
						"type": "string",
						"defaultValue": "PG_DMS"
					}
				},
				"variables": {
					"testStatus": {
						"type": "String",
						"defaultValue": "test"
					}
				},
				"annotations": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/DWScaleUpDown')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Web1",
						"type": "WebActivity",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"url": "https://management.azure.com/subscriptions/15354be3-bb86-4045-a1a1-7bf7d9ba1c31/resourceGroups/DataFoundation/providers/Microsoft.Sql/servers/pgdatafoundation/databases/DataFoundation?api-version=2020-08-01-preview",
							"method": "PUT",
							"headers": {},
							"body": {
								"value": "{\n\tlocation: \"eastus2\",\n    \"sku\": {\n    \"name\": \"DW400c\"\n    }\n}",
								"type": "Expression"
							},
							"authentication": {
								"type": "MSI",
								"resource": "https://management.core.windows.net"
							}
						}
					}
				],
				"annotations": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/PauseDW')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Pause",
						"type": "WebActivity",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"url": "https://management.azure.com/subscriptions/15354be3-bb86-4045-a1a1-7bf7d9ba1c31/resourceGroups/DataFoundation/providers/Microsoft.Sql/servers/pgdatafoundation/databases/DataFoundation/pause?api-version=2020-08-01-preview",
							"method": "POST",
							"headers": {},
							"body": "{\n\tlocation: \"eastus2\"\n}",
							"authentication": {
								"type": "MSI",
								"resource": "https://management.core.windows.net"
							}
						}
					}
				],
				"annotations": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/ResumeDW')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Web1",
						"type": "WebActivity",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"url": "https://management.azure.com/subscriptions/15354be3-bb86-4045-a1a1-7bf7d9ba1c31/resourceGroups/DataFoundation/providers/Microsoft.Sql/servers/pgdatafoundation/databases/DataFoundation/resume?api-version=2020-08-01-preview",
							"method": "POST",
							"headers": {},
							"body": "{\n\tlocation: \"eastus2\"\n}",
							"authentication": {
								"type": "MSI",
								"resource": "https://management.core.windows.net"
							}
						}
					}
				],
				"annotations": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/67Server')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "SqlServer",
				"typeProperties": {
					"connectionString": "[parameters('67Server_connectionString')]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/67ServerNew')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "SqlServer",
				"typeProperties": {
					"connectionString": "[parameters('67ServerNew_connectionString')]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/AzureBlobNCSArchive')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureBlobStorage",
				"typeProperties": {
					"connectionString": "[parameters('AzureBlobNCSArchive_connectionString')]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/AzureDatafoundation')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureBlobStorage",
				"typeProperties": {
					"connectionString": "[parameters('AzureDatafoundation_connectionString')]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/AzureSqlMI1')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureSqlMI",
				"typeProperties": {
					"connectionString": "[parameters('AzureSqlMI1_connectionString')]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/AzureSynapseAnalyticsBackup')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureSqlDW",
				"typeProperties": {
					"connectionString": "[parameters('AzureSynapseAnalyticsBackup_connectionString')]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/DFSQLDB')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureSqlDatabase",
				"typeProperties": {
					"connectionString": "[parameters('DFSQLDB_connectionString')]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/DataFoundationDW')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureSqlDW",
				"typeProperties": {
					"connectionString": "[parameters('DataFoundationDW_connectionString')]",
					"servicePrincipalId": "[parameters('DataFoundationDW_properties_typeProperties_servicePrincipalId')]",
					"servicePrincipalKey": {
						"type": "SecureString",
						"value": "[parameters('DataFoundationDW_servicePrincipalKey')]"
					},
					"tenant": "[parameters('DataFoundationDW_properties_typeProperties_tenant')]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/DatafoundationADLS')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureBlobStorage",
				"typeProperties": {
					"connectionString": "[parameters('DatafoundationADLS_connectionString')]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/TASDB')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "SqlServer",
				"typeProperties": {
					"connectionString": "[parameters('TASDB_connectionString')]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/67ServerRTDX')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "67ServerNew",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "SqlServerTable",
				"schema": [
					{
						"name": "document_no",
						"type": "nvarchar"
					},
					{
						"name": "apply_to_doc",
						"type": "nvarchar"
					},
					{
						"name": "document_date",
						"type": "nvarchar"
					},
					{
						"name": "transaction_type",
						"type": "nvarchar"
					},
					{
						"name": "subbrandform_name",
						"type": "nvarchar"
					},
					{
						"name": "prod_name",
						"type": "nvarchar"
					},
					{
						"name": "customer_name",
						"type": "nvarchar"
					},
					{
						"name": "customer_code",
						"type": "nvarchar"
					},
					{
						"name": "retailer_gst_no",
						"type": "nvarchar"
					},
					{
						"name": "channel_description",
						"type": "nvarchar"
					},
					{
						"name": "dse",
						"type": "nvarchar"
					},
					{
						"name": "pcode",
						"type": "nvarchar"
					},
					{
						"name": "batch",
						"type": "nvarchar"
					},
					{
						"name": "customer_type",
						"type": "nvarchar"
					},
					{
						"name": "hsn_code",
						"type": "nvarchar"
					},
					{
						"name": "category",
						"type": "nvarchar"
					},
					{
						"name": "brand",
						"type": "nvarchar"
					},
					{
						"name": "brandform",
						"type": "nvarchar"
					},
					{
						"name": "upc",
						"type": "nvarchar"
					},
					{
						"name": "quantity",
						"type": "nvarchar"
					},
					{
						"name": "gross_value",
						"type": "nvarchar"
					},
					{
						"name": "discount",
						"type": "nvarchar"
					},
					{
						"name": "taxable_scheme",
						"type": "nvarchar"
					},
					{
						"name": "cgst_amount",
						"type": "nvarchar"
					},
					{
						"name": "sgst_amount",
						"type": "nvarchar"
					},
					{
						"name": "igst_amount",
						"type": "nvarchar"
					},
					{
						"name": "cess_amount",
						"type": "nvarchar"
					},
					{
						"name": "tcs_amount",
						"type": "nvarchar"
					},
					{
						"name": "mracc_code",
						"type": "nvarchar"
					},
					{
						"name": "mracc_desc",
						"type": "nvarchar"
					},
					{
						"name": "vendor",
						"type": "nvarchar"
					},
					{
						"name": "net_amount",
						"type": "nvarchar"
					},
					{
						"name": "tax_on_discount",
						"type": "nvarchar"
					},
					{
						"name": "tax_on_scheme",
						"type": "nvarchar"
					},
					{
						"name": "tax_in_rlp",
						"type": "nvarchar"
					},
					{
						"name": "retailing",
						"type": "nvarchar"
					},
					{
						"name": "gross_in_slp",
						"type": "nvarchar"
					},
					{
						"name": "po_no",
						"type": "nvarchar"
					},
					{
						"name": "dse_code",
						"type": "nvarchar"
					},
					{
						"name": "msu",
						"type": "nvarchar"
					},
					{
						"name": "reason",
						"type": "nvarchar"
					},
					{
						"name": "remarks",
						"type": "nvarchar"
					},
					{
						"name": "srn_ref_no",
						"type": "nvarchar"
					},
					{
						"name": "composite",
						"type": "nvarchar"
					},
					{
						"name": "cgst_rate",
						"type": "nvarchar"
					},
					{
						"name": "sgst_rate",
						"type": "nvarchar"
					},
					{
						"name": "igst_rate",
						"type": "nvarchar"
					},
					{
						"name": "cess_rate",
						"type": "nvarchar"
					},
					{
						"name": "tcs_rate",
						"type": "nvarchar"
					},
					{
						"name": "branch_code",
						"type": "nvarchar"
					},
					{
						"name": "branch_name",
						"type": "nvarchar"
					},
					{
						"name": "distributor_gst_no",
						"type": "nvarchar"
					},
					{
						"name": "order_mode",
						"type": "nvarchar"
					},
					{
						"name": "branch_gst_no",
						"type": "nvarchar"
					},
					{
						"name": "dl_no",
						"type": "nvarchar"
					},
					{
						"name": "dl_expiry_date",
						"type": "nvarchar"
					},
					{
						"name": "tc_code",
						"type": "nvarchar"
					},
					{
						"name": "tc_name",
						"type": "nvarchar"
					},
					{
						"name": "irn_no",
						"type": "nvarchar"
					},
					{
						"name": "FileSetId",
						"type": "int",
						"precision": 10
					},
					{
						"name": "apply_to_doc_date",
						"type": "nvarchar"
					}
				],
				"typeProperties": {
					"schema": "dbo",
					"table": "tmpPSR"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/67ServerNew')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/AzureSqlMITable1')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureSqlMI1",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureSqlMITable",
				"schema": [],
				"typeProperties": {}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/AzureSqlMI1')]"
			]
		}
	]
}