ncsdatamovement/PartialArmTemplates/ArmTemplate_5_12_2021_12_28_2.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory name",
			"defaultValue": "ncsdatamovement"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/CubeProcess')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "CubeProcess",
						"type": "WebActivity",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"url": {
								"value": "https://aspaaseastus2.asazure.windows.net/servers/dbrdashboard/models/PG_DMS/refreshes",
								"type": "Expression"
							},
							"method": "POST",
							"body": {
								"Type": "Full",
								"CommitMode": "transactional",
								"MaxParallelism": 2,
								"RetryCount": 2,
								"Objects": [
									{
										"database": "PG_DMS",
										"table": "tblFactCOS",
										"partition": "PartitionCurrentQuarter_FactCOSData"
									}
								]
							},
							"authentication": {
								"type": "MSI",
								"resource": "https://*.asazure.windows.net"
							}
						}
					},
					{
						"name": "Until1",
						"type": "Until",
						"dependsOn": [
							{
								"activity": "Set RefreshId variable",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"expression": {
								"value": "@not(equals(variables('status'),'inProgress'))",
								"type": "Expression"
							},
							"activities": [
								{
									"name": "CubeProcessingCheck",
									"type": "WebActivity",
									"dependsOn": [],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"url": {
											"value": "@concat('https://aspaaseastus2.asazure.windows.net/servers/dbrdashboard/models/PG_DMS/refreshes/',variables('RefreshId'))",
											"type": "Expression"
										},
										"method": "GET",
										"headers": {
											"Content-Type": "application/json"
										},
										"body": {
											"Type": "Full",
											"CommitMode": "transactional",
											"MaxParallelism": 2,
											"RetryCount": 2,
											"Objects": [
												{
													"database": "PG_DMS",
													"table": "tblFactCFR",
													"partition": "PartitionCurrentQuarter_FactCFRData"
												},
												{
													"database": "PG_DMS",
													"table": "tblFactCOS",
													"partition": "PartitionCurrentQuarter_FactCOSData"
												}
											]
										},
										"authentication": {
											"type": "MSI",
											"resource": "https://*.asazure.windows.net"
										}
									}
								},
								{
									"name": "Set Status variable",
									"type": "SetVariable",
									"dependsOn": [
										{
											"activity": "CubeProcessingCheck",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"userProperties": [],
									"typeProperties": {
										"variableName": "status",
										"value": {
											"value": "@activity('CubeProcessingCheck').output.status",
											"type": "Expression"
										}
									}
								},
								{
									"name": "Wait For 30 sec",
									"type": "Wait",
									"dependsOn": [
										{
											"activity": "Set Status variable",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"userProperties": [],
									"typeProperties": {
										"waitTimeInSeconds": 3
									}
								}
							],
							"timeout": "7.00:00:00"
						}
					},
					{
						"name": "GetRefreshId",
						"type": "WebActivity",
						"dependsOn": [
							{
								"activity": "CubeProcess",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"url": {
								"value": "https://aspaaseastus2.asazure.windows.net/servers/dbrdashboard/models/PG_DMS/refreshes",
								"type": "Expression"
							},
							"method": "GET",
							"headers": {
								"Content-Type": "application/json"
							},
							"body": {
								"Type": "Full",
								"CommitMode": "transactional",
								"MaxParallelism": 2,
								"RetryCount": 2,
								"Objects": [
									{
										"database": "PG_DMS",
										"table": "tblFactCFR",
										"partition": "PartitionCurrentQuarter_FactCFRData"
									},
									{
										"database": "PG_DMS",
										"table": "tblFactCOS",
										"partition": "PartitionCurrentQuarter_FactCOSData"
									}
								]
							},
							"authentication": {
								"type": "MSI",
								"resource": "https://*.asazure.windows.net"
							}
						}
					},
					{
						"name": "Set Array VarOuter",
						"type": "SetVariable",
						"dependsOn": [
							{
								"activity": "GetRefreshId",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"variableName": "ArrayVar",
							"value": {
								"value": "@json(activity('GetRefreshId').output.Response)\n",
								"type": "Expression"
							}
						}
					},
					{
						"name": "Set Status variableOuter",
						"type": "SetVariable",
						"dependsOn": [
							{
								"activity": "Set Array VarOuter",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"variableName": "status",
							"value": {
								"value": "@variables('ArrayVar')[0].status",
								"type": "Expression"
							}
						}
					},
					{
						"name": "Set RefreshId variable",
						"type": "SetVariable",
						"dependsOn": [
							{
								"activity": "Set Status variableOuter",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"variableName": "RefreshId",
							"value": {
								"value": "@variables('ArrayVar')[0].refreshId",
								"type": "Expression"
							}
						}
					}
				],
				"variables": {
					"ArrayVar": {
						"type": "Array",
						"defaultValue": [
							"test"
						]
					},
					"status": {
						"type": "String",
						"defaultValue": "inProgress"
					},
					"RefreshId": {
						"type": "String"
					}
				},
				"annotations": []
			},
			"dependsOn": []
		}
	]
}