ncsdatamovement/PartialArmTemplates/ArmTemplate_6_4_2021_18_8_50.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory name",
			"defaultValue": "ncsdatamovement"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/SBDGAP')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Get Metadata1",
						"type": "GetMetadata",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataset": {
								"referenceName": "SBDGAP_Cont",
								"type": "DatasetReference"
							},
							"fieldList": [
								"childItems"
							],
							"storeSettings": {
								"type": "AzureBlobStorageReadSettings",
								"recursive": true,
								"enablePartitionDiscovery": false
							},
							"formatSettings": {
								"type": "DelimitedTextReadSettings"
							}
						}
					},
					{
						"name": "ForEach1",
						"type": "ForEach",
						"dependsOn": [
							{
								"activity": "Get Metadata1",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@activity('Get Metadata1').output.childitems",
								"type": "Expression"
							},
							"isSequential": true,
							"activities": [
								{
									"name": "Copy data1",
									"type": "Copy",
									"dependsOn": [],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"source": {
											"type": "DelimitedTextSource",
											"storeSettings": {
												"type": "AzureBlobStorageReadSettings",
												"recursive": true,
												"enablePartitionDiscovery": false
											},
											"formatSettings": {
												"type": "DelimitedTextReadSettings"
											}
										},
										"sink": {
											"type": "SqlDWSink"
										},
										"enableStaging": false,
										"translator": {
											"type": "TabularTranslator",
											"mappings": [
												{
													"source": {
														"name": "rtrcode",
														"type": "String"
													},
													"sink": {
														"name": "rtrcode",
														"type": "String"
													}
												},
												{
													"source": {
														"name": "retailer",
														"type": "String"
													},
													"sink": {
														"name": "retailer",
														"type": "String"
													}
												},
												{
													"source": {
														"name": "dsecode",
														"type": "String"
													},
													"sink": {
														"name": "dsecode",
														"type": "String"
													}
												},
												{
													"source": {
														"name": "dsename",
														"type": "String"
													},
													"sink": {
														"name": "dsename",
														"type": "String"
													}
												},
												{
													"source": {
														"name": "channel_desc",
														"type": "String"
													},
													"sink": {
														"name": "channel_desc",
														"type": "String"
													}
												},
												{
													"source": {
														"name": "gap_status",
														"type": "String"
													},
													"sink": {
														"name": "gap_status",
														"type": "String"
													}
												},
												{
													"source": {
														"name": "no_sale",
														"type": "String"
													},
													"sink": {
														"name": "no_sale",
														"type": "String"
													}
												},
												{
													"source": {
														"name": "report_month",
														"type": "String"
													},
													"sink": {
														"name": "report_month",
														"type": "String"
													}
												},
												{
													"source": {
														"name": "report_year",
														"type": "String"
													},
													"sink": {
														"name": "report_year",
														"type": "String"
													}
												},
												{
													"source": {
														"name": "branch",
														"type": "String"
													},
													"sink": {
														"name": "branch",
														"type": "String"
													}
												}
											]
										}
									},
									"inputs": [
										{
											"referenceName": "SBDFileGAPCon",
											"type": "DatasetReference",
											"parameters": {
												"FileName": "@item().name"
											}
										}
									],
									"outputs": [
										{
											"referenceName": "SBDGAPTable",
											"type": "DatasetReference"
										}
									]
								}
							]
						}
					}
				],
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/SBDGAP_Cont')]",
				"[concat(variables('factoryId'), '/datasets/SBDFileGAPCon')]",
				"[concat(variables('factoryId'), '/datasets/SBDGAPTable')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/SBDFileGAPCon')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "DatafoundationADLS",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"FileName": {
						"type": "string",
						"defaultValue": "SBDGAP_cloud01_2021May11.csv.gz"
					}
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"fileName": {
							"value": "@dataset().FileName",
							"type": "Expression"
						},
						"folderPath": "2021/05/11",
						"container": "cntleap"
					},
					"columnDelimiter": "|",
					"compressionCodec": "gzip",
					"compressionLevel": "Fastest",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": [
					{
						"name": "rtrcode",
						"type": "String"
					},
					{
						"name": "retailer",
						"type": "String"
					},
					{
						"name": "dsecode",
						"type": "String"
					},
					{
						"name": "dsename",
						"type": "String"
					},
					{
						"name": "channel_desc",
						"type": "String"
					},
					{
						"name": "gap_status",
						"type": "String"
					},
					{
						"name": "no_sale",
						"type": "String"
					},
					{
						"name": "report_month",
						"type": "String"
					},
					{
						"name": "report_year",
						"type": "String"
					},
					{
						"name": "branch",
						"type": "String"
					}
				]
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/SBDGAPTable')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "DataFoundationDW",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureSqlDWTable",
				"schema": [
					{
						"name": "rtrcode",
						"type": "nvarchar"
					},
					{
						"name": "retailer",
						"type": "nvarchar"
					},
					{
						"name": "dsecode",
						"type": "nvarchar"
					},
					{
						"name": "dsename",
						"type": "nvarchar"
					},
					{
						"name": "channel_desc",
						"type": "nvarchar"
					},
					{
						"name": "gap_status",
						"type": "nvarchar"
					},
					{
						"name": "no_sale",
						"type": "nvarchar"
					},
					{
						"name": "report_month",
						"type": "nvarchar"
					},
					{
						"name": "report_year",
						"type": "nvarchar"
					},
					{
						"name": "branch",
						"type": "nvarchar"
					}
				],
				"typeProperties": {
					"schema": "dbo",
					"table": "tmpRawLEAPTAS_SBDGAP"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/SBDGAP_Cont')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "DatafoundationADLS",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"fileName": "SBDGAP*",
						"folderPath": "2021/05/11",
						"container": "cntleap"
					},
					"columnDelimiter": "|",
					"escapeChar": "\\",
					"quoteChar": "\""
				},
				"schema": []
			},
			"dependsOn": []
		}
	]
}