ncsdatamovement/PartialArmTemplates/ArmTemplate_4_30_2021_20_45_57.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory name",
			"defaultValue": "ncsdatamovement"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/ORDHistoryLoading')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "ForEach1",
						"type": "ForEach",
						"dependsOn": [
							{
								"activity": "Get Metadata1",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@activity('Get Metadata1').output.childItems",
								"type": "Expression"
							},
							"isSequential": true,
							"activities": [
								{
									"name": "Copy data1",
									"type": "Copy",
									"dependsOn": [],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"source": {
											"type": "DelimitedTextSource",
											"additionalColumns": [
												{
													"name": "FileName",
													"value": "$$FILEPATH"
												},
												{
													"name": "LastModified",
													"value": ""
												},
												{
													"name": "FileSetId",
													"value": {
														"value": "0",
														"type": "Expression"
													}
												},
												{
													"name": "BranchNodeId",
													"value": {
														"value": "0",
														"type": "Expression"
													}
												},
												{
													"name": "BranchNodeType",
													"value": {
														"value": "0",
														"type": "Expression"
													}
												},
												{
													"name": "DSENodeId",
													"value": {
														"value": "0",
														"type": "Expression"
													}
												},
												{
													"name": "DSENodeType",
													"value": {
														"value": "0",
														"type": "Expression"
													}
												},
												{
													"name": "StoreId",
													"value": {
														"value": "0",
														"type": "Expression"
													}
												},
												{
													"name": "ChannelId",
													"value": {
														"value": "0",
														"type": "Expression"
													}
												},
												{
													"name": "SectorId",
													"value": {
														"value": "0",
														"type": "Expression"
													}
												},
												{
													"name": "SBFNodeId",
													"value": {
														"value": "0",
														"type": "Expression"
													}
												},
												{
													"name": "SBFNodeType",
													"value": {
														"value": "0",
														"type": "Expression"
													}
												}
											],
											"storeSettings": {
												"type": "AzureBlobStorageReadSettings",
												"recursive": true,
												"enablePartitionDiscovery": false
											},
											"formatSettings": {
												"type": "DelimitedTextReadSettings"
											}
										},
										"sink": {
											"type": "SqlDWSink"
										},
										"enableStaging": false,
										"translator": {
											"type": "TabularTranslator",
											"mappings": [
												{
													"source": {
														"name": "branch_name",
														"type": "String",
														"physicalType": "String"
													},
													"sink": {
														"name": "branch_name",
														"type": "String",
														"physicalType": "nvarchar"
													}
												},
												{
													"source": {
														"name": "branch_code",
														"type": "String",
														"physicalType": "String"
													},
													"sink": {
														"name": "branch_code",
														"type": "String",
														"physicalType": "nvarchar"
													}
												},
												{
													"source": {
														"name": "retailer_code",
														"type": "String",
														"physicalType": "String"
													},
													"sink": {
														"name": "retailer_code",
														"type": "String",
														"physicalType": "nvarchar"
													}
												},
												{
													"source": {
														"name": "retailer_name",
														"type": "String",
														"physicalType": "String"
													},
													"sink": {
														"name": "retailer_name",
														"type": "String",
														"physicalType": "nvarchar"
													}
												},
												{
													"source": {
														"name": "channel_description",
														"type": "String",
														"physicalType": "String"
													},
													"sink": {
														"name": "channel_description",
														"type": "String",
														"physicalType": "nvarchar"
													}
												},
												{
													"source": {
														"name": "dse_code",
														"type": "String",
														"physicalType": "String"
													},
													"sink": {
														"name": "dse_code",
														"type": "String",
														"physicalType": "nvarchar"
													}
												},
												{
													"source": {
														"name": "dse_name",
														"type": "String",
														"physicalType": "String"
													},
													"sink": {
														"name": "dse_name",
														"type": "String",
														"physicalType": "nvarchar"
													}
												},
												{
													"source": {
														"name": "order_number",
														"type": "String",
														"physicalType": "String"
													},
													"sink": {
														"name": "order_number",
														"type": "String",
														"physicalType": "nvarchar"
													}
												},
												{
													"source": {
														"name": "order_date",
														"type": "String",
														"physicalType": "String"
													},
													"sink": {
														"name": "order_date",
														"type": "String",
														"physicalType": "nvarchar"
													}
												},
												{
													"source": {
														"name": "order_type",
														"type": "String",
														"physicalType": "String"
													},
													"sink": {
														"name": "order_type",
														"type": "String",
														"physicalType": "nvarchar"
													}
												},
												{
													"source": {
														"name": "order_status",
														"type": "String",
														"physicalType": "String"
													},
													"sink": {
														"name": "order_status",
														"type": "String",
														"physicalType": "nvarchar"
													}
												},
												{
													"source": {
														"name": "p_code",
														"type": "String",
														"physicalType": "String"
													},
													"sink": {
														"name": "p_code",
														"type": "String",
														"physicalType": "nvarchar"
													}
												},
												{
													"source": {
														"name": "subbf",
														"type": "String",
														"physicalType": "String"
													},
													"sink": {
														"name": "subbf",
														"type": "String",
														"physicalType": "nvarchar"
													}
												},
												{
													"source": {
														"name": "po_number",
														"type": "String",
														"physicalType": "String"
													},
													"sink": {
														"name": "po_number",
														"type": "String",
														"physicalType": "nvarchar"
													}
												},
												{
													"source": {
														"name": "po_date",
														"type": "String",
														"physicalType": "String"
													},
													"sink": {
														"name": "po_date",
														"type": "String",
														"physicalType": "nvarchar"
													}
												},
												{
													"source": {
														"name": "upc",
														"type": "String",
														"physicalType": "String"
													},
													"sink": {
														"name": "upc",
														"type": "String",
														"physicalType": "nvarchar"
													}
												},
												{
													"source": {
														"name": "account_name",
														"type": "String",
														"physicalType": "String"
													},
													"sink": {
														"name": "account_name",
														"type": "String",
														"physicalType": "nvarchar"
													}
												},
												{
													"source": {
														"name": "qty",
														"type": "String",
														"physicalType": "String"
													},
													"sink": {
														"name": "qty",
														"type": "String",
														"physicalType": "nvarchar"
													}
												},
												{
													"source": {
														"name": "rlp",
														"type": "String",
														"physicalType": "String"
													},
													"sink": {
														"name": "rlp",
														"type": "String",
														"physicalType": "nvarchar"
													}
												},
												{
													"source": {
														"name": "amount",
														"type": "String",
														"physicalType": "String"
													},
													"sink": {
														"name": "amount",
														"type": "String",
														"physicalType": "nvarchar"
													}
												},
												{
													"source": {
														"name": "tc_code",
														"type": "String",
														"physicalType": "String"
													},
													"sink": {
														"name": "tc_code",
														"type": "String",
														"physicalType": "nvarchar"
													}
												},
												{
													"source": {
														"name": "tc_name",
														"type": "String",
														"physicalType": "String"
													},
													"sink": {
														"name": "tc_name",
														"type": "String",
														"physicalType": "nvarchar"
													}
												},
												{
													"source": {
														"name": "FileName",
														"type": "String"
													},
													"sink": {
														"name": "FileName",
														"type": "String",
														"physicalType": "nvarchar"
													}
												},
												{
													"source": {
														"name": "LastModified",
														"type": "String"
													},
													"sink": {
														"name": "LastModifiedDatetime",
														"type": "String",
														"physicalType": "varchar"
													}
												},
												{
													"source": {
														"name": "FileSetId",
														"type": "String"
													},
													"sink": {
														"name": "FileSetId",
														"type": "Int64",
														"physicalType": "bigint"
													}
												},
												{
													"source": {
														"name": "BranchNodeId",
														"type": "String"
													},
													"sink": {
														"name": "BranchNodeId",
														"type": "Int32",
														"physicalType": "int"
													}
												},
												{
													"source": {
														"name": "BranchNodeType",
														"type": "String"
													},
													"sink": {
														"name": "BranchNodeType",
														"type": "Int32",
														"physicalType": "int"
													}
												},
												{
													"source": {
														"name": "DSENodeId",
														"type": "String"
													},
													"sink": {
														"name": "DSENodeId",
														"type": "Int32",
														"physicalType": "int"
													}
												},
												{
													"source": {
														"name": "DSENodeType",
														"type": "String"
													},
													"sink": {
														"name": "DSENodeType",
														"type": "Int32",
														"physicalType": "int"
													}
												},
												{
													"source": {
														"name": "StoreId",
														"type": "String"
													},
													"sink": {
														"name": "StoreId",
														"type": "Int32",
														"physicalType": "int"
													}
												},
												{
													"source": {
														"name": "ChannelId",
														"type": "String"
													},
													"sink": {
														"name": "ChannelId",
														"type": "Int32",
														"physicalType": "int"
													}
												},
												{
													"source": {
														"name": "SectorId",
														"type": "String"
													},
													"sink": {
														"name": "SectorId",
														"type": "Int32",
														"physicalType": "int"
													}
												},
												{
													"source": {
														"name": "SBFNodeId",
														"type": "String"
													},
													"sink": {
														"name": "SBFNodeId",
														"type": "Int32",
														"physicalType": "int"
													}
												},
												{
													"source": {
														"name": "SBFNodeType",
														"type": "String"
													},
													"sink": {
														"name": "SBFNodeType",
														"type": "Int32",
														"physicalType": "int"
													}
												}
											],
											"typeConversion": true,
											"typeConversionSettings": {
												"allowDataTruncation": true,
												"treatBooleanAsNumber": false
											}
										}
									},
									"inputs": [
										{
											"referenceName": "OrderHistoryFileCon",
											"type": "DatasetReference",
											"parameters": {
												"OrdFileName": "@item().name",
												"FullDt": {
													"value": "@concat('2021/',formatDateTime(convertTimeZone(utcnow(),'UTC','India Standard Time'),'MM/dd'))",
													"type": "Expression"
												}
											}
										}
									],
									"outputs": [
										{
											"referenceName": "OrderHistoryTable",
											"type": "DatasetReference"
										}
									]
								}
							]
						}
					},
					{
						"name": "Get Metadata1",
						"type": "GetMetadata",
						"dependsOn": [
							{
								"activity": "TruncateTable",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataset": {
								"referenceName": "OrderHistoryCont",
								"type": "DatasetReference",
								"parameters": {
									"Dt": {
										"value": "@formatDateTime(convertTimeZone(utcnow(),'UTC','India Standard Time'),'yyyy/MM/dd')",
										"type": "Expression"
									}
								}
							},
							"fieldList": [
								"childItems"
							],
							"storeSettings": {
								"type": "AzureBlobStorageReadSettings",
								"recursive": true,
								"enablePartitionDiscovery": false
							},
							"formatSettings": {
								"type": "DelimitedTextReadSettings"
							}
						}
					},
					{
						"name": "TruncateTable",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[dbo].[spTruncateRawLEAPTAS_ORDHTR_Full]"
						},
						"linkedServiceName": {
							"referenceName": "DataFoundationDW",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "ProcessData",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "ForEach1",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[dbo].[spDataLoadRawLeap_ORDHTR]"
						},
						"linkedServiceName": {
							"referenceName": "DataFoundationDW",
							"type": "LinkedServiceReference"
						}
					}
				],
				"annotations": []
			},
			"dependsOn": []
		}
	]
}