pipeline/CubeProcess.json
{
	"name": "CubeProcess",
	"properties": {
		"activities": [
			{
				"name": "CubeProcess",
				"type": "WebActivity",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"url": {
						"value": "https://aspaaseastus2.asazure.windows.net/servers/dbrdashboard/models/PG_DMS/refreshes",
						"type": "Expression"
					},
					"method": "POST",
					"body": {
						"Type": "Full",
						"CommitMode": "transactional",
						"MaxParallelism": 2,
						"RetryCount": 2,
						"Objects": [
							{
								"database": "PG_DMS",
								"table": "tblFactCOS",
								"partition": "PartitionCurrentQuarter_FactCOSData"
							}
						]
					},
					"authentication": {
						"type": "MSI",
						"resource": "https://*.asazure.windows.net"
					}
				}
			},
			{
				"name": "CubeProcess_copy1",
				"type": "WebActivity",
				"dependsOn": [
					{
						"activity": "Wait1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"url": {
						"value": "https://aspaaseastus2.asazure.windows.net/servers/dbrdashboard/models/PG_DMS/refreshes",
						"type": "Expression"
					},
					"method": "GET",
					"headers": {
						"Content-Type": "application/json"
					},
					"body": {
						"Type": "Full",
						"CommitMode": "transactional",
						"MaxParallelism": 2,
						"RetryCount": 2,
						"Objects": [
							{
								"database": "PG_DMS",
								"table": "tblFactCFR",
								"partition": "PartitionCurrentQuarter_FactCFRData"
							},
							{
								"database": "PG_DMS",
								"table": "tblFactCOS",
								"partition": "PartitionCurrentQuarter_FactCOSData"
							}
						]
					},
					"authentication": {
						"type": "MSI",
						"resource": "https://*.asazure.windows.net"
					}
				}
			},
			{
				"name": "Wait1",
				"type": "Wait",
				"dependsOn": [
					{
						"activity": "CubeProcess",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"waitTimeInSeconds": 30
				}
			},
			{
				"name": "Set variable1",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "CubeProcess_copy1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"variableName": "testStatus",
					"value": {
						"value": "@json(activity('CubeProcess_copy1').output.Response)\n",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Set variable2",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Set variable1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"variableName": "test2",
					"value": {
						"value": "@variables('testStatus')[0].status",
						"type": "Expression"
					}
				}
			}
		],
		"parameters": {
			"region": {
				"type": "string",
				"defaultValue": "aspaaseastus2"
			},
			"server": {
				"type": "string",
				"defaultValue": "dbrdashboard"
			},
			"model": {
				"type": "string",
				"defaultValue": "PG_DMS"
			}
		},
		"variables": {
			"testStatus": {
				"type": "Array",
				"defaultValue": [
					"test"
				]
			},
			"test2": {
				"type": "String"
			}
		},
		"annotations": []
	}
}