pipeline/CubeProcess.json
{
	"name": "CubeProcess",
	"properties": {
		"activities": [
			{
				"name": "CubeProcess",
				"type": "WebActivity",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"url": {
						"value": "https://aspaaseastus2.asazure.windows.net/servers/dbrdashboard/models/PG_DMS/refreshes",
						"type": "Expression"
					},
					"method": "POST",
					"body": {
						"Type": "Full",
						"CommitMode": "transactional",
						"MaxParallelism": 2,
						"RetryCount": 2,
						"Objects": [
							{
								"database": "PG_DMS",
								"table": "tblFactCOS",
								"partition": "PartitionCurrentQuarter_FactCOSData"
							}
						]
					},
					"authentication": {
						"type": "MSI",
						"resource": "https://*.asazure.windows.net"
					}
				}
			},
			{
				"name": "Until1",
				"type": "Until",
				"dependsOn": [
					{
						"activity": "CubeProcess",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@variables('var3')",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "CubeProcessingCheck",
							"type": "WebActivity",
							"dependsOn": [],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"url": {
									"value": "https://aspaaseastus2.asazure.windows.net/servers/dbrdashboard/models/PG_DMS/refreshes",
									"type": "Expression"
								},
								"method": "GET",
								"headers": {
									"Content-Type": "application/json"
								},
								"body": {
									"Type": "Full",
									"CommitMode": "transactional",
									"MaxParallelism": 2,
									"RetryCount": 2,
									"Objects": [
										{
											"database": "PG_DMS",
											"table": "tblFactCFR",
											"partition": "PartitionCurrentQuarter_FactCFRData"
										},
										{
											"database": "PG_DMS",
											"table": "tblFactCOS",
											"partition": "PartitionCurrentQuarter_FactCOSData"
										}
									]
								},
								"authentication": {
									"type": "MSI",
									"resource": "https://*.asazure.windows.net"
								}
							}
						},
						{
							"name": "Set Array Var",
							"type": "SetVariable",
							"dependsOn": [
								{
									"activity": "CubeProcessingCheck",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"variableName": "ArrayVar",
								"value": {
									"value": "@json(activity('CubeProcessingCheck').output.Response)",
									"type": "Expression"
								}
							}
						},
						{
							"name": "Set Status variable",
							"type": "SetVariable",
							"dependsOn": [
								{
									"activity": "Set Array Var",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"variableName": "status",
								"value": {
									"value": "@variables('ArrayVar')[0].status",
									"type": "Expression"
								}
							}
						},
						{
							"name": "Wait For 30 sec",
							"type": "Wait",
							"dependsOn": [
								{
									"activity": "Set Status variable",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"waitTimeInSeconds": 3
							}
						},
						{
							"name": "Set variable1",
							"type": "SetVariable",
							"dependsOn": [
								{
									"activity": "Wait For 30 sec",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"variableName": "var3",
								"value": {
									"value": "@equals(variables('status'),'inProgress')",
									"type": "Expression"
								}
							}
						}
					],
					"timeout": "00:01:00"
				}
			}
		],
		"parameters": {
			"region": {
				"type": "string",
				"defaultValue": "aspaaseastus2"
			},
			"server": {
				"type": "string",
				"defaultValue": "dbrdashboard"
			},
			"model": {
				"type": "string",
				"defaultValue": "PG_DMS"
			},
			"test": {
				"type": "string",
				"defaultValue": "inProgress"
			}
		},
		"variables": {
			"ArrayVar": {
				"type": "Array",
				"defaultValue": [
					"test"
				]
			},
			"status": {
				"type": "String",
				"defaultValue": "inProgress"
			},
			"var3": {
				"type": "Boolean",
				"defaultValue": true
			}
		},
		"annotations": []
	}
}