pipeline/ORDHistoryLoading.json
{
	"name": "ORDHistoryLoading",
	"properties": {
		"activities": [
			{
				"name": "ForEach1",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Get Metadata1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Get Metadata1').output.childItems",
						"type": "Expression"
					},
					"isSequential": true,
					"activities": [
						{
							"name": "Copy data1",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "DelimitedTextSource",
									"additionalColumns": [
										{
											"name": "FileName",
											"value": "$$FILEPATH"
										}
									],
									"storeSettings": {
										"type": "AzureBlobStorageReadSettings",
										"recursive": true,
										"enablePartitionDiscovery": false
									},
									"formatSettings": {
										"type": "DelimitedTextReadSettings"
									}
								},
								"sink": {
									"type": "SqlDWSink"
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"mappings": [
										{
											"source": {
												"name": "branch_name",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "branch_name",
												"type": "String",
												"physicalType": "nvarchar"
											}
										},
										{
											"source": {
												"name": "branch_code",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "branch_code",
												"type": "String",
												"physicalType": "nvarchar"
											}
										},
										{
											"source": {
												"name": "retailer_code",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "retailer_code",
												"type": "String",
												"physicalType": "nvarchar"
											}
										},
										{
											"source": {
												"name": "retailer_name",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "retailer_name",
												"type": "String",
												"physicalType": "nvarchar"
											}
										},
										{
											"source": {
												"name": "channel_description",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "channel_description",
												"type": "String",
												"physicalType": "nvarchar"
											}
										},
										{
											"source": {
												"name": "dse_code",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "dse_code",
												"type": "String",
												"physicalType": "nvarchar"
											}
										},
										{
											"source": {
												"name": "dse_name",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "dse_name",
												"type": "String",
												"physicalType": "nvarchar"
											}
										},
										{
											"source": {
												"name": "order_number",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "order_number",
												"type": "String",
												"physicalType": "nvarchar"
											}
										},
										{
											"source": {
												"name": "order_date",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "order_date",
												"type": "String",
												"physicalType": "nvarchar"
											}
										},
										{
											"source": {
												"name": "order_type",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "order_type",
												"type": "String",
												"physicalType": "nvarchar"
											}
										},
										{
											"source": {
												"name": "order_status",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "order_status",
												"type": "String",
												"physicalType": "nvarchar"
											}
										},
										{
											"source": {
												"name": "p_code",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "p_code",
												"type": "String",
												"physicalType": "nvarchar"
											}
										},
										{
											"source": {
												"name": "subbf",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "subbf",
												"type": "String",
												"physicalType": "nvarchar"
											}
										},
										{
											"source": {
												"name": "po_number",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "po_number",
												"type": "String",
												"physicalType": "nvarchar"
											}
										},
										{
											"source": {
												"name": "po_date",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "po_date",
												"type": "String",
												"physicalType": "nvarchar"
											}
										},
										{
											"source": {
												"name": "upc",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "upc",
												"type": "String",
												"physicalType": "nvarchar"
											}
										},
										{
											"source": {
												"name": "account_name",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "account_name",
												"type": "String",
												"physicalType": "nvarchar"
											}
										},
										{
											"source": {
												"name": "qty",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "qty",
												"type": "String",
												"physicalType": "nvarchar"
											}
										},
										{
											"source": {
												"name": "rlp",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "rlp",
												"type": "String",
												"physicalType": "nvarchar"
											}
										},
										{
											"source": {
												"name": "amount",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "amount",
												"type": "String",
												"physicalType": "nvarchar"
											}
										},
										{
											"source": {
												"name": "tc_code",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "tc_code",
												"type": "String",
												"physicalType": "nvarchar"
											}
										},
										{
											"source": {
												"name": "tc_name",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "tc_name",
												"type": "String",
												"physicalType": "nvarchar"
											}
										},
										{
											"source": {
												"name": "FileName",
												"type": "String"
											},
											"sink": {
												"name": "FileName",
												"type": "String",
												"physicalType": "nvarchar"
											}
										}
									],
									"typeConversion": true,
									"typeConversionSettings": {
										"allowDataTruncation": true,
										"treatBooleanAsNumber": false
									}
								}
							},
							"inputs": [
								{
									"referenceName": "OrderHistoryFileCon",
									"type": "DatasetReference",
									"parameters": {
										"OrdFileName": "@item().name",
										"FullDt": {
											"value": "@concat('2021/04/',substring(item().name, 23, 2))",
											"type": "Expression"
										}
									}
								}
							],
							"outputs": [
								{
									"referenceName": "OrderHistoryTable",
									"type": "DatasetReference"
								}
							]
						}
					]
				}
			},
			{
				"name": "Get Metadata1",
				"type": "GetMetadata",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "OrderHistoryCont",
						"type": "DatasetReference"
					},
					"fieldList": [
						"childItems"
					],
					"storeSettings": {
						"type": "AzureBlobStorageReadSettings",
						"recursive": true,
						"enablePartitionDiscovery": false
					},
					"formatSettings": {
						"type": "DelimitedTextReadSettings"
					}
				}
			}
		],
		"annotations": []
	}
}