pipeline/RTRMFileLoading.json
{
	"name": "RTRMFileLoading",
	"properties": {
		"activities": [
			{
				"name": "ForEach1",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Get Metadata1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Get Metadata1').output.childItems",
						"type": "Expression"
					},
					"isSequential": true,
					"activities": [
						{
							"name": "Copy data1",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "DelimitedTextSource",
									"additionalColumns": [
										{
											"name": "AFileName",
											"value": {
												"value": "@item().name",
												"type": "Expression"
											}
										},
										{
											"name": "FileSetId",
											"value": {
												"value": "0",
												"type": "Expression"
											}
										}
									],
									"storeSettings": {
										"type": "AzureBlobStorageReadSettings",
										"recursive": true,
										"enablePartitionDiscovery": false
									},
									"formatSettings": {
										"type": "DelimitedTextReadSettings"
									}
								},
								"sink": {
									"type": "SqlDWSink"
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"mappings": [
										{
											"source": {
												"name": "branch_code",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "branch_code",
												"type": "String",
												"physicalType": "nvarchar"
											}
										},
										{
											"source": {
												"name": "branch_location",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "branch_location",
												"type": "String",
												"physicalType": "nvarchar"
											}
										},
										{
											"source": {
												"name": "retailer_code",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "retailer_code",
												"type": "String",
												"physicalType": "nvarchar"
											}
										},
										{
											"source": {
												"name": "retailer_name",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "retailer_name",
												"type": "String",
												"physicalType": "nvarchar"
											}
										},
										{
											"source": {
												"name": "address_1",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "address_1",
												"type": "String",
												"physicalType": "nvarchar"
											}
										},
										{
											"source": {
												"name": "address_2",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "address_2",
												"type": "String",
												"physicalType": "nvarchar"
											}
										},
										{
											"source": {
												"name": "pin_number",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "pin_number",
												"type": "String",
												"physicalType": "nvarchar"
											}
										},
										{
											"source": {
												"name": "area_code",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "area_code",
												"type": "String",
												"physicalType": "nvarchar"
											}
										},
										{
											"source": {
												"name": "area",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "area",
												"type": "String",
												"physicalType": "nvarchar"
											}
										},
										{
											"source": {
												"name": "town_code",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "town_code",
												"type": "String",
												"physicalType": "nvarchar"
											}
										},
										{
											"source": {
												"name": "town",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "town",
												"type": "String",
												"physicalType": "nvarchar"
											}
										},
										{
											"source": {
												"name": "town_class",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "town_class",
												"type": "String",
												"physicalType": "nvarchar"
											}
										},
										{
											"source": {
												"name": "city",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "city",
												"type": "String",
												"physicalType": "nvarchar"
											}
										},
										{
											"source": {
												"name": "state",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "state",
												"type": "String",
												"physicalType": "nvarchar"
											}
										},
										{
											"source": {
												"name": "mobile_number",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "mobile_number",
												"type": "String",
												"physicalType": "nvarchar"
											}
										},
										{
											"source": {
												"name": "phone_number",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "phone_number",
												"type": "String",
												"physicalType": "nvarchar"
											}
										},
										{
											"source": {
												"name": "contact_person",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "contact_person",
												"type": "String",
												"physicalType": "nvarchar"
											}
										},
										{
											"source": {
												"name": "stl_name",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "stl_name",
												"type": "String",
												"physicalType": "nvarchar"
											}
										},
										{
											"source": {
												"name": "dse_name",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "dse_name",
												"type": "String",
												"physicalType": "nvarchar"
											}
										},
										{
											"source": {
												"name": "frequency",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "frequency",
												"type": "String",
												"physicalType": "nvarchar"
											}
										},
										{
											"source": {
												"name": "distance",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "distance",
												"type": "String",
												"physicalType": "nvarchar"
											}
										},
										{
											"source": {
												"name": "class_code",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "class_code",
												"type": "String",
												"physicalType": "nvarchar"
											}
										},
										{
											"source": {
												"name": "class",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "class",
												"type": "String",
												"physicalType": "nvarchar"
											}
										},
										{
											"source": {
												"name": "channel_code",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "channel_code",
												"type": "String",
												"physicalType": "nvarchar"
											}
										},
										{
											"source": {
												"name": "channel",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "channel",
												"type": "String",
												"physicalType": "nvarchar"
											}
										},
										{
											"source": {
												"name": "subchannel_code",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "subchannel_code",
												"type": "String",
												"physicalType": "nvarchar"
											}
										},
										{
											"source": {
												"name": "subchannel",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "subchannel",
												"type": "String",
												"physicalType": "nvarchar"
											}
										},
										{
											"source": {
												"name": "mr_account_code",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "mr_account_code",
												"type": "String",
												"physicalType": "nvarchar"
											}
										},
										{
											"source": {
												"name": "mr_account_name",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "mr_account_name",
												"type": "String",
												"physicalType": "nvarchar"
											}
										},
										{
											"source": {
												"name": "credit_limit",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "credit_limit",
												"type": "String",
												"physicalType": "nvarchar"
											}
										},
										{
											"source": {
												"name": "credit_period",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "credit_period",
												"type": "String",
												"physicalType": "nvarchar"
											}
										},
										{
											"source": {
												"name": "invoice_limit",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "invoice_limit",
												"type": "String",
												"physicalType": "nvarchar"
											}
										},
										{
											"source": {
												"name": "certificate_type",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "certificate_type",
												"type": "String",
												"physicalType": "nvarchar"
											}
										},
										{
											"source": {
												"name": "gst_number",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "gst_number",
												"type": "String",
												"physicalType": "nvarchar"
											}
										},
										{
											"source": {
												"name": "pan_no",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "pan_no",
												"type": "String",
												"physicalType": "nvarchar"
											}
										},
										{
											"source": {
												"name": "dl_number",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "dl_number",
												"type": "String",
												"physicalType": "nvarchar"
											}
										},
										{
											"source": {
												"name": "dl_expiry_date",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "dl_expiry_date",
												"type": "String",
												"physicalType": "nvarchar"
											}
										},
										{
											"source": {
												"name": "email",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "email",
												"type": "String",
												"physicalType": "nvarchar"
											}
										},
										{
											"source": {
												"name": "dob",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "dob",
												"type": "String",
												"physicalType": "nvarchar"
											}
										},
										{
											"source": {
												"name": "doa",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "doa",
												"type": "String",
												"physicalType": "nvarchar"
											}
										},
										{
											"source": {
												"name": "status",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "status",
												"type": "String",
												"physicalType": "nvarchar"
											}
										},
										{
											"source": {
												"name": "default_warehouse_code",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "default_warehouse_code",
												"type": "String",
												"physicalType": "nvarchar"
											}
										},
										{
											"source": {
												"name": "default_warehouse",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "default_warehouse",
												"type": "String",
												"physicalType": "nvarchar"
											}
										},
										{
											"source": {
												"name": "restricted_orderswap_status",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "restricted_orderswap_status",
												"type": "String",
												"physicalType": "nvarchar"
											}
										},
										{
											"source": {
												"name": "lattitude",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "lattitude",
												"type": "String",
												"physicalType": "nvarchar"
											}
										},
										{
											"source": {
												"name": "longitude",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "longitude",
												"type": "String",
												"physicalType": "nvarchar"
											}
										},
										{
											"source": {
												"name": "retailer_radius",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "retailer_radius",
												"type": "String",
												"physicalType": "nvarchar"
											}
										},
										{
											"source": {
												"name": "AFileName",
												"type": "String"
											},
											"sink": {
												"name": "FileName",
												"type": "String",
												"physicalType": "varchar"
											}
										},
										{
											"source": {
												"name": "FileSetId",
												"type": "String"
											},
											"sink": {
												"name": "FileSetId",
												"type": "Int32",
												"physicalType": "int"
											}
										}
									],
									"typeConversion": true,
									"typeConversionSettings": {
										"allowDataTruncation": true,
										"treatBooleanAsNumber": false
									}
								}
							},
							"inputs": [
								{
									"referenceName": "SourceDataset_llg",
									"type": "DatasetReference",
									"parameters": {
										"YearMonthDate": "2021/01/31",
										"AFileName": {
											"value": "@item().name",
											"type": "Expression"
										}
									}
								}
							],
							"outputs": [
								{
									"referenceName": "DestinationDataset_llg",
									"type": "DatasetReference"
								}
							]
						}
					]
				}
			},
			{
				"name": "Get Metadata1",
				"type": "GetMetadata",
				"dependsOn": [
					{
						"activity": "Stored procedure2",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "CntRTRMProject",
						"type": "DatasetReference",
						"parameters": {
							"Mnth": "2021/01/31"
						}
					},
					"fieldList": [
						"childItems"
					],
					"storeSettings": {
						"type": "AzureBlobStorageReadSettings",
						"recursive": true,
						"enablePartitionDiscovery": false
					},
					"formatSettings": {
						"type": "DelimitedTextReadSettings"
					}
				}
			},
			{
				"name": "Stored procedure2",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "spTruncateRTRMTable"
				},
				"linkedServiceName": {
					"referenceName": "DataFoundationDW",
					"type": "LinkedServiceReference"
				}
			}
		],
		"annotations": [],
		"lastPublishTime": "2021-02-14T07:54:29Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}