pipeline/SBDGAP.json
{
	"name": "SBDGAP",
	"properties": {
		"activities": [
			{
				"name": "Get Metadata1",
				"type": "GetMetadata",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "SBDGAP_Cont",
						"type": "DatasetReference"
					},
					"fieldList": [
						"childItems"
					],
					"storeSettings": {
						"type": "AzureBlobStorageReadSettings",
						"recursive": true,
						"enablePartitionDiscovery": false
					},
					"formatSettings": {
						"type": "DelimitedTextReadSettings"
					}
				}
			},
			{
				"name": "ForEach1",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Get Metadata1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Get Metadata1').output.childitems",
						"type": "Expression"
					},
					"isSequential": true,
					"activities": [
						{
							"name": "Copy data1",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "DelimitedTextSource",
									"storeSettings": {
										"type": "AzureBlobStorageReadSettings",
										"recursive": true,
										"enablePartitionDiscovery": false
									},
									"formatSettings": {
										"type": "DelimitedTextReadSettings"
									}
								},
								"sink": {
									"type": "SqlDWSink"
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"mappings": [
										{
											"source": {
												"name": "rtrcode",
												"type": "String"
											},
											"sink": {
												"name": "rtrcode",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "retailer",
												"type": "String"
											},
											"sink": {
												"name": "retailer",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "dsecode",
												"type": "String"
											},
											"sink": {
												"name": "dsecode",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "dsename",
												"type": "String"
											},
											"sink": {
												"name": "dsename",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "channel_desc",
												"type": "String"
											},
											"sink": {
												"name": "channel_desc",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "gap_status",
												"type": "String"
											},
											"sink": {
												"name": "gap_status",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "no_sale",
												"type": "String"
											},
											"sink": {
												"name": "no_sale",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "report_month",
												"type": "String"
											},
											"sink": {
												"name": "report_month",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "report_year",
												"type": "String"
											},
											"sink": {
												"name": "report_year",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "branch",
												"type": "String"
											},
											"sink": {
												"name": "branch",
												"type": "String"
											}
										}
									]
								}
							},
							"inputs": [
								{
									"referenceName": "SBDFileGAPCon",
									"type": "DatasetReference",
									"parameters": {
										"FileName": "@item().name"
									}
								}
							],
							"outputs": [
								{
									"referenceName": "SBDGAPTable",
									"type": "DatasetReference"
								}
							]
						}
					]
				}
			}
		],
		"annotations": []
	}
}