ncsdatamovement/ARMTemplateForFactory.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory name",
			"defaultValue": "ncsdatamovement"
		},
		"67Server_connectionString": {
			"type": "secureString",
			"metadata": "Secure string for 'connectionString' of '67Server'"
		},
		"AzureBlobNCSArchive_connectionString": {
			"type": "secureString",
			"metadata": "Secure string for 'connectionString' of 'AzureBlobNCSArchive'"
		},
		"AzureDatafoundation_connectionString": {
			"type": "secureString",
			"metadata": "Secure string for 'connectionString' of 'AzureDatafoundation'"
		},
		"AzureSqlMI1_connectionString": {
			"type": "secureString",
			"metadata": "Secure string for 'connectionString' of 'AzureSqlMI1'"
		},
		"AzureSynapseAnalyticsBackup_connectionString": {
			"type": "secureString",
			"metadata": "Secure string for 'connectionString' of 'AzureSynapseAnalyticsBackup'"
		},
		"DFSQLDB_connectionString": {
			"type": "secureString",
			"metadata": "Secure string for 'connectionString' of 'DFSQLDB'"
		},
		"DataFoundationDW_connectionString": {
			"type": "secureString",
			"metadata": "Secure string for 'connectionString' of 'DataFoundationDW'"
		},
		"DataFoundationDW_servicePrincipalKey": {
			"type": "secureString",
			"metadata": "Secure string for 'servicePrincipalKey' of 'DataFoundationDW'"
		},
		"TASDB_connectionString": {
			"type": "secureString",
			"metadata": "Secure string for 'connectionString' of 'TASDB'"
		},
		"DatafoundationADLS_connectionString": {
			"type": "secureString",
			"metadata": "Secure string for 'connectionString' of 'DatafoundationADLS'"
		},
		"DataFoundationDW_properties_typeProperties_servicePrincipalId": {
			"type": "string",
			"defaultValue": "7ec6607e-638a-46bf-9ff0-ea38bacb5ea9"
		},
		"DataFoundationDW_properties_typeProperties_tenant": {
			"type": "string",
			"defaultValue": "515445df-f272-4c96-aa97-d670cbdeab20"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/CopyPipeline_07h')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "ForEach_07h",
						"type": "ForEach",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@pipeline().parameters.cw_items",
								"type": "Expression"
							},
							"activities": [
								{
									"name": "Copy_07h",
									"type": "Copy",
									"dependsOn": [],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [
										{
											"name": "Source",
											"value": "dbo.@{item().source.table}"
										},
										{
											"name": "Destination",
											"value": "dbo.@{item().destination.table}"
										}
									],
									"typeProperties": {
										"source": {
											"type": "SqlServerSource",
											"partitionOption": "None"
										},
										"sink": {
											"type": "SqlDWSink",
											"tableOption": "autoCreate"
										},
										"enableStaging": true,
										"stagingSettings": {
											"linkedServiceName": {
												"referenceName": "AzureDatafoundation",
												"type": "LinkedServiceReference"
											}
										},
										"translator": {
											"type": "TabularTranslator",
											"mappings": [
												{
													"source": {
														"name": "SiteName",
														"type": "String",
														"physicalType": "varchar"
													},
													"sink": {
														"name": "SiteName",
														"type": "String"
													}
												},
												{
													"source": {
														"name": "StoreCode",
														"type": "String",
														"physicalType": "varchar"
													},
													"sink": {
														"name": "StoreCode",
														"type": "String"
													}
												},
												{
													"source": {
														"name": "StoreName",
														"type": "String",
														"physicalType": "varchar"
													},
													"sink": {
														"name": "StoreName",
														"type": "String"
													}
												},
												{
													"source": {
														"name": "BranchCode",
														"type": "String",
														"physicalType": "varchar"
													},
													"sink": {
														"name": "BranchCode",
														"type": "String"
													}
												},
												{
													"source": {
														"name": "BranchName",
														"type": "String",
														"physicalType": "varchar"
													},
													"sink": {
														"name": "BranchName",
														"type": "String"
													}
												},
												{
													"source": {
														"name": "ChannelName",
														"type": "String",
														"physicalType": "varchar"
													},
													"sink": {
														"name": "ChannelName",
														"type": "String"
													}
												},
												{
													"source": {
														"name": "Month",
														"type": "String",
														"physicalType": "varchar"
													},
													"sink": {
														"name": "Month",
														"type": "String"
													}
												}
											],
											"typeConversion": true,
											"typeConversionSettings": {
												"allowDataTruncation": true,
												"treatBooleanAsNumber": false
											}
										}
									},
									"inputs": [
										{
											"referenceName": "SourceDataset_07h",
											"type": "DatasetReference",
											"parameters": {
												"cw_table": "@item().source.table"
											}
										}
									],
									"outputs": [
										{
											"referenceName": "DestinationDataset_07h",
											"type": "DatasetReference",
											"parameters": {
												"cw_table": "@item().destination.table"
											}
										}
									]
								}
							]
						}
					}
				],
				"parameters": {
					"cw_items": {
						"type": "Array",
						"defaultValue": [
							{
								"source": {
									"table": "tblStoreDetailsAfterMarch"
								},
								"destination": {
									"table": "tblStoreDetailsAfterMarch1"
								}
							},
							{
								"source": {
									"table": "tblStoreDetailsBeforeMarch"
								},
								"destination": {
									"table": "tblStoreDetailsBeforeMarch1"
								}
							}
						]
					}
				},
				"annotations": [],
				"lastPublishTime": "2021-01-22T06:46:32Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/SourceDataset_07h')]",
				"[concat(variables('factoryId'), '/datasets/DestinationDataset_07h')]",
				"[concat(variables('factoryId'), '/linkedServices/AzureDatafoundation')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/CopyPipeline_k3b')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "ForEach_k3b",
						"type": "ForEach",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@pipeline().parameters.cw_items",
								"type": "Expression"
							},
							"activities": [
								{
									"name": "Copy_k3b",
									"type": "Copy",
									"dependsOn": [],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [
										{
											"name": "Source",
											"value": "dbo.@{item().source.table}"
										},
										{
											"name": "Destination",
											"value": "dbo.@{item().destination.table}"
										}
									],
									"typeProperties": {
										"source": {
											"type": "SqlServerSource",
											"partitionOption": "None"
										},
										"sink": {
											"type": "SqlDWSink",
											"tableOption": "autoCreate"
										},
										"enableStaging": true,
										"stagingSettings": {
											"linkedServiceName": {
												"referenceName": "AzureDatafoundation",
												"type": "LinkedServiceReference"
											}
										},
										"translator": {
											"value": "@item().copyActivity.translator",
											"type": "Expression"
										}
									},
									"inputs": [
										{
											"referenceName": "SourceDataset_k3b",
											"type": "DatasetReference",
											"parameters": {
												"cw_table": "@item().source.table"
											}
										}
									],
									"outputs": [
										{
											"referenceName": "DestinationDataset_k3b",
											"type": "DatasetReference",
											"parameters": {
												"cw_table": "@item().destination.table"
											}
										}
									]
								}
							]
						}
					}
				],
				"parameters": {
					"cw_items": {
						"type": "Array",
						"defaultValue": [
							{
								"source": {
									"table": "tblStoreDetailsAfterMarch"
								},
								"destination": {
									"table": "tblStoreDetailsAfterMarch"
								},
								"copyActivity": {
									"translator": {
										"type": "TabularTranslator",
										"mappings": [
											{
												"source": {
													"name": "SiteName",
													"type": "String",
													"physicalType": "varchar"
												},
												"sink": {
													"name": "SiteName",
													"type": "String"
												}
											},
											{
												"source": {
													"name": "StoreCode",
													"type": "String",
													"physicalType": "varchar"
												},
												"sink": {
													"name": "StoreCode",
													"type": "String"
												}
											},
											{
												"source": {
													"name": "BranchCode",
													"type": "String",
													"physicalType": "varchar"
												},
												"sink": {
													"name": "BranchCode",
													"type": "String"
												}
											},
											{
												"source": {
													"name": "BranchName",
													"type": "String",
													"physicalType": "varchar"
												},
												"sink": {
													"name": "BranchName",
													"type": "String"
												}
											},
											{
												"source": {
													"name": "ChannelName",
													"type": "String",
													"physicalType": "varchar"
												},
												"sink": {
													"name": "ChannelName",
													"type": "String"
												}
											},
											{
												"source": {
													"name": "Month",
													"type": "String",
													"physicalType": "varchar"
												},
												"sink": {
													"name": "Month",
													"type": "String"
												}
											}
										],
										"typeConversion": true,
										"typeConversionSettings": {
											"allowDataTruncation": true,
											"treatBooleanAsNumber": false
										}
									}
								}
							},
							{
								"source": {
									"table": "tblStoreDetailsBeforeMarch"
								},
								"destination": {
									"table": "tblStoreDetailsBeforeMarch"
								},
								"copyActivity": {
									"translator": {
										"type": "TabularTranslator",
										"mappings": [
											{
												"source": {
													"name": "SiteName",
													"type": "String",
													"physicalType": "varchar"
												},
												"sink": {
													"name": "SiteName",
													"type": "String"
												}
											},
											{
												"source": {
													"name": "StoreCode",
													"type": "String",
													"physicalType": "varchar"
												},
												"sink": {
													"name": "StoreCode",
													"type": "String"
												}
											},
											{
												"source": {
													"name": "BranchCode",
													"type": "String",
													"physicalType": "varchar"
												},
												"sink": {
													"name": "BranchCode",
													"type": "String"
												}
											},
											{
												"source": {
													"name": "BranchName",
													"type": "String",
													"physicalType": "varchar"
												},
												"sink": {
													"name": "BranchName",
													"type": "String"
												}
											},
											{
												"source": {
													"name": "ChannelName",
													"type": "String",
													"physicalType": "varchar"
												},
												"sink": {
													"name": "ChannelName",
													"type": "String"
												}
											}
										],
										"typeConversion": true,
										"typeConversionSettings": {
											"allowDataTruncation": true,
											"treatBooleanAsNumber": false
										}
									}
								}
							}
						]
					}
				},
				"annotations": [],
				"lastPublishTime": "2021-01-19T16:42:31Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/SourceDataset_k3b')]",
				"[concat(variables('factoryId'), '/datasets/DestinationDataset_k3b')]",
				"[concat(variables('factoryId'), '/linkedServices/AzureDatafoundation')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/CopyPipeline_sqi')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Copy_sqi",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [
							{
								"name": "Source",
								"value": "dbo.tmpBranchMultipleDSEData"
							},
							{
								"name": "Destination",
								"value": "tempfolderfordelete//tmpBranchMultipleDSEData.csv"
							}
						],
						"typeProperties": {
							"source": {
								"type": "SqlDWSource",
								"partitionOption": "None"
							},
							"sink": {
								"type": "DelimitedTextSink",
								"storeSettings": {
									"type": "AzureBlobStorageWriteSettings"
								},
								"formatSettings": {
									"type": "DelimitedTextWriteSettings",
									"quoteAllText": true,
									"fileExtension": ".txt"
								}
							},
							"enableStaging": false,
							"validateDataConsistency": false
						},
						"inputs": [
							{
								"referenceName": "SourceDataset_sqi",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "DestinationDataset_sqi",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					}
				],
				"annotations": [],
				"lastPublishTime": "2020-12-11T07:22:18Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/SourceDataset_sqi')]",
				"[concat(variables('factoryId'), '/datasets/DestinationDataset_sqi')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/OldLeapFileLoading')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Get Metadata1",
						"type": "GetMetadata",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataset": {
								"referenceName": "CntOldLeapFileLoad",
								"type": "DatasetReference",
								"parameters": {}
							},
							"fieldList": [
								"childItems"
							],
							"storeSettings": {
								"type": "AzureBlobStorageReadSettings",
								"recursive": true,
								"enablePartitionDiscovery": false
							},
							"formatSettings": {
								"type": "DelimitedTextReadSettings",
								"skipLineCount": 0
							}
						}
					},
					{
						"name": "ForEach1",
						"type": "ForEach",
						"dependsOn": [
							{
								"activity": "Get Metadata1",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@activity('Get Metadata1').output.childItems",
								"type": "Expression"
							},
							"isSequential": true,
							"activities": [
								{
									"name": "Data Load",
									"type": "SqlServerStoredProcedure",
									"dependsOn": [],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"storedProcedureName": "[[dbo].[spImportOldLeapDataDynamic]",
										"storedProcedureParameters": {
											"var": {
												"value": {
													"value": "@item().name",
													"type": "Expression"
												},
												"type": "String"
											}
										}
									},
									"linkedServiceName": {
										"referenceName": "DataFoundationDW",
										"type": "LinkedServiceReference"
									}
								}
							]
						}
					}
				],
				"annotations": [],
				"lastPublishTime": "2021-01-11T17:48:09Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/CntOldLeapFileLoad')]",
				"[concat(variables('factoryId'), '/linkedServices/DataFoundationDW')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ProductDataTransfer')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "ForEach_xvt",
						"type": "ForEach",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@pipeline().parameters.cw_items",
								"type": "Expression"
							},
							"activities": [
								{
									"name": "Copy_xvt",
									"type": "Copy",
									"dependsOn": [],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [
										{
											"name": "Source",
											"value": "dbo.@{item().source.table}"
										},
										{
											"name": "Destination",
											"value": "dbo.@{item().destination.table}"
										}
									],
									"typeProperties": {
										"source": {
											"type": "AzureSqlSource",
											"partitionOption": "None"
										},
										"sink": {
											"type": "SqlDWSink",
											"preCopyScript": {
												"value": "@item().copySink.preCopyScript",
												"type": "Expression"
											}
										},
										"enableStaging": false,
										"validateDataConsistency": false,
										"translator": {
											"value": "@item().copyActivity.translator",
											"type": "Expression"
										}
									},
									"inputs": [
										{
											"referenceName": "SourceDataset_xvt",
											"type": "DatasetReference",
											"parameters": {
												"cw_table": "@item().source.table"
											}
										}
									],
									"outputs": [
										{
											"referenceName": "DestinationDataset_xvt",
											"type": "DatasetReference",
											"parameters": {
												"cw_table": "@item().destination.table"
											}
										}
									]
								}
							]
						}
					}
				],
				"parameters": {
					"cw_items": {
						"type": "Array",
						"defaultValue": [
							{
								"source": {
									"table": "tblPrdMstrHierarchy"
								},
								"destination": {
									"table": "tblPrdMstrHierarchy"
								},
								"copySink": {
									"preCopyScript": "truncate table tblPrdMstrHierarchy"
								},
								"copyActivity": {
									"translator": {
										"type": "TabularTranslator",
										"mappings": [
											{
												"source": {
													"name": "HierID",
													"type": "Int32"
												},
												"sink": {
													"name": "HierID",
													"type": "Int32"
												}
											},
											{
												"source": {
													"name": "NodeID",
													"type": "Int32"
												},
												"sink": {
													"name": "NodeID",
													"type": "Int32"
												}
											},
											{
												"source": {
													"name": "NodeType",
													"type": "Int32"
												},
												"sink": {
													"name": "NodeType",
													"type": "Int32"
												}
											},
											{
												"source": {
													"name": "PNodeID",
													"type": "Int32"
												},
												"sink": {
													"name": "PNodeID",
													"type": "Int32"
												}
											},
											{
												"source": {
													"name": "PNodeType",
													"type": "Int32"
												},
												"sink": {
													"name": "PNodeType",
													"type": "Int32"
												}
											},
											{
												"source": {
													"name": "HierTypeID",
													"type": "Int32"
												},
												"sink": {
													"name": "HierTypeID",
													"type": "Int32"
												}
											},
											{
												"source": {
													"name": "PHierId",
													"type": "Int32"
												},
												"sink": {
													"name": "PHierId",
													"type": "Int32"
												}
											},
											{
												"source": {
													"name": "VldFrom",
													"type": "Date"
												},
												"sink": {
													"name": "VldFrom",
													"type": "Date"
												}
											},
											{
												"source": {
													"name": "VldTo",
													"type": "Date"
												},
												"sink": {
													"name": "VldTo",
													"type": "Date"
												}
											},
											{
												"source": {
													"name": "LoginID",
													"type": "Int32"
												},
												"sink": {
													"name": "LoginID",
													"type": "Int32"
												}
											},
											{
												"source": {
													"name": "FileSetIdins",
													"type": "Int64"
												},
												"sink": {
													"name": "FileSetIdins",
													"type": "Int64"
												}
											}
										]
									}
								}
							},
							{
								"source": {
									"table": "tblPrdMstrHierLvl1"
								},
								"destination": {
									"table": "tblPrdMstrHierLvl1"
								},
								"copySink": {
									"preCopyScript": "truncate table tblPrdMstrHierLvl1"
								},
								"copyActivity": {
									"translator": {
										"type": "TabularTranslator",
										"mappings": [
											{
												"source": {
													"name": "NodeID",
													"type": "Int32"
												},
												"sink": {
													"name": "NodeID",
													"type": "Int32"
												}
											},
											{
												"source": {
													"name": "Descr",
													"type": "String"
												},
												"sink": {
													"name": "Descr",
													"type": "String"
												}
											},
											{
												"source": {
													"name": "NodeType",
													"type": "Int32"
												},
												"sink": {
													"name": "NodeType",
													"type": "Int32"
												}
											},
											{
												"source": {
													"name": "FileSetIDIns",
													"type": "Int64"
												},
												"sink": {
													"name": "FileSetIDIns",
													"type": "Int64"
												}
											},
											{
												"source": {
													"name": "TimestampIns",
													"type": "DateTime"
												},
												"sink": {
													"name": "TimestampIns",
													"type": "DateTime"
												}
											},
											{
												"source": {
													"name": "FileSetIDUpd",
													"type": "Int64"
												},
												"sink": {
													"name": "FileSetIDUpd",
													"type": "Int64"
												}
											},
											{
												"source": {
													"name": "TimestampUpd",
													"type": "DateTime"
												},
												"sink": {
													"name": "TimestampUpd",
													"type": "DateTime"
												}
											},
											{
												"source": {
													"name": "IsActive",
													"type": "Byte"
												},
												"sink": {
													"name": "IsActive",
													"type": "Byte"
												}
											},
											{
												"source": {
													"name": "flgSeq",
													"type": "Byte"
												},
												"sink": {
													"name": "flgSeq",
													"type": "Byte"
												}
											},
											{
												"source": {
													"name": "DescrINIT",
													"type": "String"
												},
												"sink": {
													"name": "DescrINIT",
													"type": "String"
												}
											}
										]
									}
								}
							},
							{
								"source": {
									"table": "tblPrdMstrHierLvl2"
								},
								"destination": {
									"table": "tblPrdMstrHierLvl2"
								},
								"copySink": {
									"preCopyScript": "truncate table tblPrdMstrHierLvl2"
								},
								"copyActivity": {
									"translator": {
										"type": "TabularTranslator",
										"mappings": [
											{
												"source": {
													"name": "NodeID",
													"type": "Int32"
												},
												"sink": {
													"name": "NodeID",
													"type": "Int32"
												}
											},
											{
												"source": {
													"name": "Code",
													"type": "String"
												},
												"sink": {
													"name": "Code",
													"type": "String"
												}
											},
											{
												"source": {
													"name": "Descr",
													"type": "String"
												},
												"sink": {
													"name": "Descr",
													"type": "String"
												}
											},
											{
												"source": {
													"name": "NodeType",
													"type": "Int32"
												},
												"sink": {
													"name": "NodeType",
													"type": "Int32"
												}
											},
											{
												"source": {
													"name": "FileSetIDIns",
													"type": "Int64"
												},
												"sink": {
													"name": "FileSetIDIns",
													"type": "Int64"
												}
											},
											{
												"source": {
													"name": "TimestampIns",
													"type": "DateTime"
												},
												"sink": {
													"name": "TimestampIns",
													"type": "DateTime"
												}
											},
											{
												"source": {
													"name": "FileSetIDUpd",
													"type": "Int64"
												},
												"sink": {
													"name": "FileSetIDUpd",
													"type": "Int64"
												}
											},
											{
												"source": {
													"name": "TimestampUpd",
													"type": "DateTime"
												},
												"sink": {
													"name": "TimestampUpd",
													"type": "DateTime"
												}
											},
											{
												"source": {
													"name": "IsActive",
													"type": "Byte"
												},
												"sink": {
													"name": "IsActive",
													"type": "Byte"
												}
											}
										]
									}
								}
							},
							{
								"source": {
									"table": "tblPrdMstrHierLvl3"
								},
								"destination": {
									"table": "tblPrdMstrHierLvl3"
								},
								"copySink": {
									"preCopyScript": "truncate table tblPrdMstrHierLvl3"
								},
								"copyActivity": {
									"translator": {
										"type": "TabularTranslator",
										"mappings": [
											{
												"source": {
													"name": "NodeID",
													"type": "Int32"
												},
												"sink": {
													"name": "NodeID",
													"type": "Int32"
												}
											},
											{
												"source": {
													"name": "Code",
													"type": "String"
												},
												"sink": {
													"name": "Code",
													"type": "String"
												}
											},
											{
												"source": {
													"name": "Descr",
													"type": "String"
												},
												"sink": {
													"name": "Descr",
													"type": "String"
												}
											},
											{
												"source": {
													"name": "NodeType",
													"type": "Int32"
												},
												"sink": {
													"name": "NodeType",
													"type": "Int32"
												}
											},
											{
												"source": {
													"name": "flgActive",
													"type": "Byte"
												},
												"sink": {
													"name": "flgActive",
													"type": "Byte"
												}
											},
											{
												"source": {
													"name": "FileSetIDIns",
													"type": "Int64"
												},
												"sink": {
													"name": "FileSetIDIns",
													"type": "Int64"
												}
											},
											{
												"source": {
													"name": "TimestampIns",
													"type": "DateTime"
												},
												"sink": {
													"name": "TimestampIns",
													"type": "DateTime"
												}
											},
											{
												"source": {
													"name": "FileSetIDUpd",
													"type": "Int64"
												},
												"sink": {
													"name": "FileSetIDUpd",
													"type": "Int64"
												}
											},
											{
												"source": {
													"name": "TimestampUpd",
													"type": "DateTime"
												},
												"sink": {
													"name": "TimestampUpd",
													"type": "DateTime"
												}
											},
											{
												"source": {
													"name": "IsActive",
													"type": "Byte"
												},
												"sink": {
													"name": "IsActive",
													"type": "Byte"
												}
											},
											{
												"source": {
													"name": "Ordr",
													"type": "Int32"
												},
												"sink": {
													"name": "Ordr",
													"type": "Int32"
												}
											}
										]
									}
								}
							},
							{
								"source": {
									"table": "tblPrdMstrHierLvl4"
								},
								"destination": {
									"table": "tblPrdMstrHierLvl4"
								},
								"copySink": {
									"preCopyScript": "truncate table tblPrdMstrHierLvl4"
								},
								"copyActivity": {
									"translator": {
										"type": "TabularTranslator",
										"mappings": [
											{
												"source": {
													"name": "NodeID",
													"type": "Int32"
												},
												"sink": {
													"name": "NodeID",
													"type": "Int32"
												}
											},
											{
												"source": {
													"name": "Code",
													"type": "String"
												},
												"sink": {
													"name": "Code",
													"type": "String"
												}
											},
											{
												"source": {
													"name": "Descr",
													"type": "String"
												},
												"sink": {
													"name": "Descr",
													"type": "String"
												}
											},
											{
												"source": {
													"name": "NodeType",
													"type": "Int32"
												},
												"sink": {
													"name": "NodeType",
													"type": "Int32"
												}
											},
											{
												"source": {
													"name": "flgActive",
													"type": "Byte"
												},
												"sink": {
													"name": "flgActive",
													"type": "Byte"
												}
											},
											{
												"source": {
													"name": "FileSetIDIns",
													"type": "Int64"
												},
												"sink": {
													"name": "FileSetIDIns",
													"type": "Int64"
												}
											},
											{
												"source": {
													"name": "TimestampIns",
													"type": "DateTime"
												},
												"sink": {
													"name": "TimestampIns",
													"type": "DateTime"
												}
											},
											{
												"source": {
													"name": "FileSetIDUpd",
													"type": "Int64"
												},
												"sink": {
													"name": "FileSetIDUpd",
													"type": "Int64"
												}
											},
											{
												"source": {
													"name": "TimestampUpd",
													"type": "DateTime"
												},
												"sink": {
													"name": "TimestampUpd",
													"type": "DateTime"
												}
											},
											{
												"source": {
													"name": "IsActive",
													"type": "Byte"
												},
												"sink": {
													"name": "IsActive",
													"type": "Byte"
												}
											},
											{
												"source": {
													"name": "Ordr",
													"type": "Int32"
												},
												"sink": {
													"name": "Ordr",
													"type": "Int32"
												}
											}
										]
									}
								}
							},
							{
								"source": {
									"table": "tblPrdMstrHierLvl5"
								},
								"destination": {
									"table": "tblPrdMstrHierLvl5"
								},
								"copySink": {
									"preCopyScript": "truncate table tblPrdMstrHierLvl5"
								},
								"copyActivity": {
									"translator": {
										"type": "TabularTranslator",
										"mappings": [
											{
												"source": {
													"name": "NodeID",
													"type": "Int32"
												},
												"sink": {
													"name": "NodeID",
													"type": "Int32"
												}
											},
											{
												"source": {
													"name": "Descr",
													"type": "String"
												},
												"sink": {
													"name": "Descr",
													"type": "String"
												}
											},
											{
												"source": {
													"name": "NodeType",
													"type": "Int32"
												},
												"sink": {
													"name": "NodeType",
													"type": "Int32"
												}
											},
											{
												"source": {
													"name": "MRP",
													"type": "Decimal"
												},
												"sink": {
													"name": "MRP",
													"type": "Decimal"
												}
											},
											{
												"source": {
													"name": "RLP",
													"type": "Decimal"
												},
												"sink": {
													"name": "RLP",
													"type": "Decimal"
												}
											},
											{
												"source": {
													"name": "PcsInBox",
													"type": "Int32"
												},
												"sink": {
													"name": "PcsInBox",
													"type": "Int32"
												}
											},
											{
												"source": {
													"name": "AddedOn",
													"type": "DateTime"
												},
												"sink": {
													"name": "AddedOn",
													"type": "DateTime"
												}
											},
											{
												"source": {
													"name": "flgActive",
													"type": "Byte"
												},
												"sink": {
													"name": "flgActive",
													"type": "Byte"
												}
											},
											{
												"source": {
													"name": "LoginIDIns",
													"type": "Int32"
												},
												"sink": {
													"name": "LoginIDIns",
													"type": "Int32"
												}
											},
											{
												"source": {
													"name": "TimestampIns",
													"type": "DateTime"
												},
												"sink": {
													"name": "TimestampIns",
													"type": "DateTime"
												}
											},
											{
												"source": {
													"name": "LoginIDUpd",
													"type": "Int32"
												},
												"sink": {
													"name": "LoginIDUpd",
													"type": "Int32"
												}
											},
											{
												"source": {
													"name": "TimestampUpd",
													"type": "DateTime"
												},
												"sink": {
													"name": "TimestampUpd",
													"type": "DateTime"
												}
											},
											{
												"source": {
													"name": "IsActive",
													"type": "Byte"
												},
												"sink": {
													"name": "IsActive",
													"type": "Byte"
												}
											},
											{
												"source": {
													"name": "Ordr",
													"type": "Int32"
												},
												"sink": {
													"name": "Ordr",
													"type": "Int32"
												}
											},
											{
												"source": {
													"name": "ProductCode",
													"type": "String"
												},
												"sink": {
													"name": "ProductCode",
													"type": "String"
												}
											},
											{
												"source": {
													"name": "PrdNodeId",
													"type": "Int32"
												},
												"sink": {
													"name": "PrdNodeId",
													"type": "Int32"
												}
											},
											{
												"source": {
													"name": "PrdNodeType",
													"type": "Int32"
												},
												"sink": {
													"name": "PrdNodeType",
													"type": "Int32"
												}
											},
											{
												"source": {
													"name": "flgNewStore",
													"type": "Boolean"
												},
												"sink": {
													"name": "flgNewStore",
													"type": "Boolean"
												}
											},
											{
												"source": {
													"name": "flgSearchList",
													"type": "Boolean"
												},
												"sink": {
													"name": "flgSearchList",
													"type": "Boolean"
												}
											},
											{
												"source": {
													"name": "IsPriceFixed",
													"type": "Boolean"
												},
												"sink": {
													"name": "IsPriceFixed",
													"type": "Boolean"
												}
											},
											{
												"source": {
													"name": "SBFCode",
													"type": "String"
												},
												"sink": {
													"name": "SBFCode",
													"type": "String"
												}
											},
											{
												"source": {
													"name": "Brand",
													"type": "String"
												},
												"sink": {
													"name": "Brand",
													"type": "String"
												}
											},
											{
												"source": {
													"name": "form",
													"type": "String"
												},
												"sink": {
													"name": "form",
													"type": "String"
												}
											},
											{
												"source": {
													"name": "variant",
													"type": "String"
												},
												"sink": {
													"name": "variant",
													"type": "String"
												}
											},
											{
												"source": {
													"name": "size",
													"type": "String"
												},
												"sink": {
													"name": "size",
													"type": "String"
												}
											},
											{
												"source": {
													"name": "promo",
													"type": "String"
												},
												"sink": {
													"name": "promo",
													"type": "String"
												}
											},
											{
												"source": {
													"name": "DisplayName",
													"type": "String"
												},
												"sink": {
													"name": "DisplayName",
													"type": "String"
												}
											},
											{
												"source": {
													"name": "FileSetIdIns",
													"type": "Int64"
												},
												"sink": {
													"name": "FileSetIdIns",
													"type": "Int64"
												}
											}
										]
									}
								}
							}
						]
					}
				},
				"annotations": [],
				"lastPublishTime": "2020-10-23T13:41:08Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/SourceDataset_xvt')]",
				"[concat(variables('factoryId'), '/datasets/DestinationDataset_xvt')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/RTRMFileLoading')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "ForEach1",
						"type": "ForEach",
						"dependsOn": [
							{
								"activity": "Get Metadata1",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@activity('Get Metadata1').output.childItems",
								"type": "Expression"
							},
							"isSequential": true,
							"activities": [
								{
									"name": "Copy data1",
									"type": "Copy",
									"dependsOn": [],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"source": {
											"type": "DelimitedTextSource",
											"additionalColumns": [
												{
													"name": "AFileName",
													"value": {
														"value": "@item().name",
														"type": "Expression"
													}
												},
												{
													"name": "FileSetId",
													"value": {
														"value": "0",
														"type": "Expression"
													}
												}
											],
											"storeSettings": {
												"type": "AzureBlobStorageReadSettings",
												"recursive": true,
												"enablePartitionDiscovery": false
											},
											"formatSettings": {
												"type": "DelimitedTextReadSettings"
											}
										},
										"sink": {
											"type": "SqlDWSink"
										},
										"enableStaging": false,
										"translator": {
											"type": "TabularTranslator",
											"mappings": [
												{
													"source": {
														"name": "branch_code",
														"type": "String",
														"physicalType": "String"
													},
													"sink": {
														"name": "branch_code",
														"type": "String",
														"physicalType": "nvarchar"
													}
												},
												{
													"source": {
														"name": "branch_location",
														"type": "String",
														"physicalType": "String"
													},
													"sink": {
														"name": "branch_location",
														"type": "String",
														"physicalType": "nvarchar"
													}
												},
												{
													"source": {
														"name": "retailer_code",
														"type": "String",
														"physicalType": "String"
													},
													"sink": {
														"name": "retailer_code",
														"type": "String",
														"physicalType": "nvarchar"
													}
												},
												{
													"source": {
														"name": "retailer_name",
														"type": "String",
														"physicalType": "String"
													},
													"sink": {
														"name": "retailer_name",
														"type": "String",
														"physicalType": "nvarchar"
													}
												},
												{
													"source": {
														"name": "address_1",
														"type": "String",
														"physicalType": "String"
													},
													"sink": {
														"name": "address_1",
														"type": "String",
														"physicalType": "nvarchar"
													}
												},
												{
													"source": {
														"name": "address_2",
														"type": "String",
														"physicalType": "String"
													},
													"sink": {
														"name": "address_2",
														"type": "String",
														"physicalType": "nvarchar"
													}
												},
												{
													"source": {
														"name": "pin_number",
														"type": "String",
														"physicalType": "String"
													},
													"sink": {
														"name": "pin_number",
														"type": "String",
														"physicalType": "nvarchar"
													}
												},
												{
													"source": {
														"name": "area_code",
														"type": "String",
														"physicalType": "String"
													},
													"sink": {
														"name": "area_code",
														"type": "String",
														"physicalType": "nvarchar"
													}
												},
												{
													"source": {
														"name": "area",
														"type": "String",
														"physicalType": "String"
													},
													"sink": {
														"name": "area",
														"type": "String",
														"physicalType": "nvarchar"
													}
												},
												{
													"source": {
														"name": "town_code",
														"type": "String",
														"physicalType": "String"
													},
													"sink": {
														"name": "town_code",
														"type": "String",
														"physicalType": "nvarchar"
													}
												},
												{
													"source": {
														"name": "town",
														"type": "String",
														"physicalType": "String"
													},
													"sink": {
														"name": "town",
														"type": "String",
														"physicalType": "nvarchar"
													}
												},
												{
													"source": {
														"name": "town_class",
														"type": "String",
														"physicalType": "String"
													},
													"sink": {
														"name": "town_class",
														"type": "String",
														"physicalType": "nvarchar"
													}
												},
												{
													"source": {
														"name": "city",
														"type": "String",
														"physicalType": "String"
													},
													"sink": {
														"name": "city",
														"type": "String",
														"physicalType": "nvarchar"
													}
												},
												{
													"source": {
														"name": "state",
														"type": "String",
														"physicalType": "String"
													},
													"sink": {
														"name": "state",
														"type": "String",
														"physicalType": "nvarchar"
													}
												},
												{
													"source": {
														"name": "mobile_number",
														"type": "String",
														"physicalType": "String"
													},
													"sink": {
														"name": "mobile_number",
														"type": "String",
														"physicalType": "nvarchar"
													}
												},
												{
													"source": {
														"name": "phone_number",
														"type": "String",
														"physicalType": "String"
													},
													"sink": {
														"name": "phone_number",
														"type": "String",
														"physicalType": "nvarchar"
													}
												},
												{
													"source": {
														"name": "contact_person",
														"type": "String",
														"physicalType": "String"
													},
													"sink": {
														"name": "contact_person",
														"type": "String",
														"physicalType": "nvarchar"
													}
												},
												{
													"source": {
														"name": "stl_name",
														"type": "String",
														"physicalType": "String"
													},
													"sink": {
														"name": "stl_name",
														"type": "String",
														"physicalType": "nvarchar"
													}
												},
												{
													"source": {
														"name": "dse_name",
														"type": "String",
														"physicalType": "String"
													},
													"sink": {
														"name": "dse_name",
														"type": "String",
														"physicalType": "nvarchar"
													}
												},
												{
													"source": {
														"name": "frequency",
														"type": "String",
														"physicalType": "String"
													},
													"sink": {
														"name": "frequency",
														"type": "String",
														"physicalType": "nvarchar"
													}
												},
												{
													"source": {
														"name": "distance",
														"type": "String",
														"physicalType": "String"
													},
													"sink": {
														"name": "distance",
														"type": "String",
														"physicalType": "nvarchar"
													}
												},
												{
													"source": {
														"name": "class_code",
														"type": "String",
														"physicalType": "String"
													},
													"sink": {
														"name": "class_code",
														"type": "String",
														"physicalType": "nvarchar"
													}
												},
												{
													"source": {
														"name": "class",
														"type": "String",
														"physicalType": "String"
													},
													"sink": {
														"name": "class",
														"type": "String",
														"physicalType": "nvarchar"
													}
												},
												{
													"source": {
														"name": "channel_code",
														"type": "String",
														"physicalType": "String"
													},
													"sink": {
														"name": "channel_code",
														"type": "String",
														"physicalType": "nvarchar"
													}
												},
												{
													"source": {
														"name": "channel",
														"type": "String",
														"physicalType": "String"
													},
													"sink": {
														"name": "channel",
														"type": "String",
														"physicalType": "nvarchar"
													}
												},
												{
													"source": {
														"name": "subchannel_code",
														"type": "String",
														"physicalType": "String"
													},
													"sink": {
														"name": "subchannel_code",
														"type": "String",
														"physicalType": "nvarchar"
													}
												},
												{
													"source": {
														"name": "subchannel",
														"type": "String",
														"physicalType": "String"
													},
													"sink": {
														"name": "subchannel",
														"type": "String",
														"physicalType": "nvarchar"
													}
												},
												{
													"source": {
														"name": "mr_account_code",
														"type": "String",
														"physicalType": "String"
													},
													"sink": {
														"name": "mr_account_code",
														"type": "String",
														"physicalType": "nvarchar"
													}
												},
												{
													"source": {
														"name": "mr_account_name",
														"type": "String",
														"physicalType": "String"
													},
													"sink": {
														"name": "mr_account_name",
														"type": "String",
														"physicalType": "nvarchar"
													}
												},
												{
													"source": {
														"name": "credit_limit",
														"type": "String",
														"physicalType": "String"
													},
													"sink": {
														"name": "credit_limit",
														"type": "String",
														"physicalType": "nvarchar"
													}
												},
												{
													"source": {
														"name": "credit_period",
														"type": "String",
														"physicalType": "String"
													},
													"sink": {
														"name": "credit_period",
														"type": "String",
														"physicalType": "nvarchar"
													}
												},
												{
													"source": {
														"name": "invoice_limit",
														"type": "String",
														"physicalType": "String"
													},
													"sink": {
														"name": "invoice_limit",
														"type": "String",
														"physicalType": "nvarchar"
													}
												},
												{
													"source": {
														"name": "certificate_type",
														"type": "String",
														"physicalType": "String"
													},
													"sink": {
														"name": "certificate_type",
														"type": "String",
														"physicalType": "nvarchar"
													}
												},
												{
													"source": {
														"name": "gst_number",
														"type": "String",
														"physicalType": "String"
													},
													"sink": {
														"name": "gst_number",
														"type": "String",
														"physicalType": "nvarchar"
													}
												},
												{
													"source": {
														"name": "pan_no",
														"type": "String",
														"physicalType": "String"
													},
													"sink": {
														"name": "pan_no",
														"type": "String",
														"physicalType": "nvarchar"
													}
												},
												{
													"source": {
														"name": "dl_number",
														"type": "String",
														"physicalType": "String"
													},
													"sink": {
														"name": "dl_number",
														"type": "String",
														"physicalType": "nvarchar"
													}
												},
												{
													"source": {
														"name": "dl_expiry_date",
														"type": "String",
														"physicalType": "String"
													},
													"sink": {
														"name": "dl_expiry_date",
														"type": "String",
														"physicalType": "nvarchar"
													}
												},
												{
													"source": {
														"name": "email",
														"type": "String",
														"physicalType": "String"
													},
													"sink": {
														"name": "email",
														"type": "String",
														"physicalType": "nvarchar"
													}
												},
												{
													"source": {
														"name": "dob",
														"type": "String",
														"physicalType": "String"
													},
													"sink": {
														"name": "dob",
														"type": "String",
														"physicalType": "nvarchar"
													}
												},
												{
													"source": {
														"name": "doa",
														"type": "String",
														"physicalType": "String"
													},
													"sink": {
														"name": "doa",
														"type": "String",
														"physicalType": "nvarchar"
													}
												},
												{
													"source": {
														"name": "status",
														"type": "String",
														"physicalType": "String"
													},
													"sink": {
														"name": "status",
														"type": "String",
														"physicalType": "nvarchar"
													}
												},
												{
													"source": {
														"name": "default_warehouse_code",
														"type": "String",
														"physicalType": "String"
													},
													"sink": {
														"name": "default_warehouse_code",
														"type": "String",
														"physicalType": "nvarchar"
													}
												},
												{
													"source": {
														"name": "default_warehouse",
														"type": "String",
														"physicalType": "String"
													},
													"sink": {
														"name": "default_warehouse",
														"type": "String",
														"physicalType": "nvarchar"
													}
												},
												{
													"source": {
														"name": "restricted_orderswap_status",
														"type": "String",
														"physicalType": "String"
													},
													"sink": {
														"name": "restricted_orderswap_status",
														"type": "String",
														"physicalType": "nvarchar"
													}
												},
												{
													"source": {
														"name": "lattitude",
														"type": "String",
														"physicalType": "String"
													},
													"sink": {
														"name": "lattitude",
														"type": "String",
														"physicalType": "nvarchar"
													}
												},
												{
													"source": {
														"name": "longitude",
														"type": "String",
														"physicalType": "String"
													},
													"sink": {
														"name": "longitude",
														"type": "String",
														"physicalType": "nvarchar"
													}
												},
												{
													"source": {
														"name": "retailer_radius",
														"type": "String",
														"physicalType": "String"
													},
													"sink": {
														"name": "retailer_radius",
														"type": "String",
														"physicalType": "nvarchar"
													}
												},
												{
													"source": {
														"name": "AFileName",
														"type": "String"
													},
													"sink": {
														"name": "FileName",
														"type": "String",
														"physicalType": "varchar"
													}
												},
												{
													"source": {
														"name": "FileSetId",
														"type": "String"
													},
													"sink": {
														"name": "FileSetId",
														"type": "Int32",
														"physicalType": "int"
													}
												}
											],
											"typeConversion": true,
											"typeConversionSettings": {
												"allowDataTruncation": true,
												"treatBooleanAsNumber": false
											}
										}
									},
									"inputs": [
										{
											"referenceName": "SourceDataset_llg",
											"type": "DatasetReference",
											"parameters": {
												"YearMonthDate": "2021/01/31",
												"AFileName": {
													"value": "@item().name",
													"type": "Expression"
												}
											}
										}
									],
									"outputs": [
										{
											"referenceName": "DestinationDataset_llg",
											"type": "DatasetReference",
											"parameters": {}
										}
									]
								}
							]
						}
					},
					{
						"name": "Get Metadata1",
						"type": "GetMetadata",
						"dependsOn": [
							{
								"activity": "Stored procedure2",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataset": {
								"referenceName": "CntRTRMProject",
								"type": "DatasetReference",
								"parameters": {
									"Mnth": "2021/01/31"
								}
							},
							"fieldList": [
								"childItems"
							],
							"storeSettings": {
								"type": "AzureBlobStorageReadSettings",
								"recursive": true,
								"enablePartitionDiscovery": false
							},
							"formatSettings": {
								"type": "DelimitedTextReadSettings"
							}
						}
					},
					{
						"name": "Stored procedure2",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "spTruncateRTRMTable"
						},
						"linkedServiceName": {
							"referenceName": "DataFoundationDW",
							"type": "LinkedServiceReference"
						}
					}
				],
				"annotations": [],
				"lastPublishTime": "2021-02-14T07:54:29Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/CntRTRMProject')]",
				"[concat(variables('factoryId'), '/linkedServices/DataFoundationDW')]",
				"[concat(variables('factoryId'), '/datasets/SourceDataset_llg')]",
				"[concat(variables('factoryId'), '/datasets/DestinationDataset_llg')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/SBDFileLoading')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "GetListOfFiles",
						"type": "GetMetadata",
						"dependsOn": [
							{
								"activity": "TruncateTables",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataset": {
								"referenceName": "Folder_SBDBranchMapping",
								"type": "DatasetReference",
								"parameters": {}
							},
							"fieldList": [
								"childItems"
							],
							"storeSettings": {
								"type": "AzureBlobStorageReadSettings",
								"recursive": true,
								"enablePartitionDiscovery": false
							}
						}
					},
					{
						"name": "FileListLoop",
						"type": "ForEach",
						"dependsOn": [
							{
								"activity": "GetListOfFiles",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@activity('GetListOfFiles').output.childItems",
								"type": "Expression"
							},
							"isSequential": true,
							"activities": [
								{
									"name": "CopyDataFromExcel",
									"type": "Copy",
									"dependsOn": [
										{
											"activity": "FileLastModifiedTime",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"source": {
											"type": "ExcelSource",
											"additionalColumns": [
												{
													"name": "FilePathTxt",
													"value": "$$FILEPATH"
												},
												{
													"name": "LastModifiedTime",
													"value": {
														"value": "@activity('FileLastModifiedTime').output.lastModified",
														"type": "Expression"
													}
												}
											],
											"storeSettings": {
												"type": "AzureBlobStorageReadSettings",
												"recursive": true,
												"enablePartitionDiscovery": false
											}
										},
										"sink": {
											"type": "SqlDWSink"
										},
										"enableStaging": false,
										"translator": {
											"type": "TabularTranslator",
											"mappings": [
												{
													"source": {
														"name": "SBD Name",
														"type": "String",
														"physicalType": "String"
													},
													"sink": {
														"name": "SBDName",
														"type": "String",
														"physicalType": "nvarchar"
													}
												},
												{
													"source": {
														"name": "Distributor Code",
														"type": "String",
														"physicalType": "String"
													},
													"sink": {
														"name": "DistributorCode",
														"type": "String",
														"physicalType": "nvarchar"
													}
												},
												{
													"source": {
														"name": "Branch Code",
														"type": "String",
														"physicalType": "String"
													},
													"sink": {
														"name": "BranchCode",
														"type": "String",
														"physicalType": "nvarchar"
													}
												},
												{
													"source": {
														"name": "FilePathTxt",
														"type": "String"
													},
													"sink": {
														"name": "FilePath",
														"type": "String",
														"physicalType": "nvarchar"
													}
												},
												{
													"source": {
														"name": "LastModifiedTime",
														"type": "String"
													},
													"sink": {
														"name": "LastModifiedTime",
														"type": "String",
														"physicalType": "nvarchar"
													}
												}
											],
											"typeConversion": true,
											"typeConversionSettings": {
												"allowDataTruncation": true,
												"treatBooleanAsNumber": false
											}
										}
									},
									"inputs": [
										{
											"referenceName": "Cnt_SBDBranchMapping",
											"type": "DatasetReference",
											"parameters": {
												"BrnMapFileName": {
													"value": "@item().name",
													"type": "Expression"
												}
											}
										}
									],
									"outputs": [
										{
											"referenceName": "SBDBranchMappingTable",
											"type": "DatasetReference",
											"parameters": {}
										}
									]
								},
								{
									"name": "FileLastModifiedTime",
									"type": "GetMetadata",
									"dependsOn": [],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"dataset": {
											"referenceName": "Cnt_SBDBranchMapping",
											"type": "DatasetReference",
											"parameters": {
												"BrnMapFileName": {
													"value": "@item().name",
													"type": "Expression"
												}
											}
										},
										"fieldList": [
											"lastModified",
											"itemName"
										],
										"storeSettings": {
											"type": "AzureBlobStorageReadSettings",
											"recursive": true,
											"enablePartitionDiscovery": false
										}
									}
								}
							]
						}
					},
					{
						"name": "TruncateTables",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[dbo].[spTruncateSBDTempTables]"
						},
						"linkedServiceName": {
							"referenceName": "DataFoundationDW",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "GetListOfSBDFiles",
						"type": "GetMetadata",
						"dependsOn": [
							{
								"activity": "TruncateTables",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataset": {
								"referenceName": "Folder_SBDFile",
								"type": "DatasetReference",
								"parameters": {}
							},
							"fieldList": [
								"childItems"
							],
							"storeSettings": {
								"type": "AzureBlobStorageReadSettings",
								"recursive": true,
								"enablePartitionDiscovery": false
							}
						}
					},
					{
						"name": "SBDFileListLoop",
						"type": "ForEach",
						"dependsOn": [
							{
								"activity": "GetListOfSBDFiles",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@activity('GetListOfSBDFiles').output.childItems\n",
								"type": "Expression"
							},
							"isSequential": true,
							"activities": [
								{
									"name": "File LogDateTime",
									"type": "GetMetadata",
									"dependsOn": [],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"dataset": {
											"referenceName": "SBDFileCon",
											"type": "DatasetReference",
											"parameters": {
												"SBDFileName": {
													"value": "@item().name",
													"type": "Expression"
												}
											}
										},
										"fieldList": [
											"lastModified"
										],
										"storeSettings": {
											"type": "AzureBlobStorageReadSettings",
											"recursive": true,
											"enablePartitionDiscovery": false
										}
									}
								},
								{
									"name": "Copy data1",
									"type": "Copy",
									"dependsOn": [
										{
											"activity": "File LogDateTime",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"source": {
											"type": "ExcelSource",
											"additionalColumns": [
												{
													"name": "FileNameTxt",
													"value": "$$FILEPATH"
												},
												{
													"name": "LastModified",
													"value": {
														"value": "@activity('File LogDateTime').output.lastModified",
														"type": "Expression"
													}
												}
											],
											"storeSettings": {
												"type": "AzureBlobStorageReadSettings",
												"recursive": true,
												"enablePartitionDiscovery": false
											}
										},
										"sink": {
											"type": "SqlDWSink"
										},
										"enableStaging": false,
										"translator": {
											"type": "TabularTranslator",
											"mappings": [
												{
													"source": {
														"name": "SBD Name",
														"type": "String",
														"physicalType": "String"
													},
													"sink": {
														"name": "SBD Name",
														"type": "String",
														"physicalType": "nvarchar"
													}
												},
												{
													"source": {
														"name": "Channel Code",
														"type": "String",
														"physicalType": "String"
													},
													"sink": {
														"name": "Channel Code",
														"type": "String",
														"physicalType": "nvarchar"
													}
												},
												{
													"source": {
														"name": "Channel Name",
														"type": "String",
														"physicalType": "String"
													},
													"sink": {
														"name": "Channel Name",
														"type": "String",
														"physicalType": "nvarchar"
													}
												},
												{
													"source": {
														"name": "Group Code",
														"type": "String",
														"physicalType": "String"
													},
													"sink": {
														"name": "Group Code",
														"type": "String",
														"physicalType": "nvarchar"
													}
												},
												{
													"source": {
														"name": "SBF Code",
														"type": "String",
														"physicalType": "String"
													},
													"sink": {
														"name": "SBF Code",
														"type": "String",
														"physicalType": "nvarchar"
													}
												},
												{
													"source": {
														"name": "SBF Name",
														"type": "String",
														"physicalType": "String"
													},
													"sink": {
														"name": "SBF Name",
														"type": "String",
														"physicalType": "nvarchar"
													}
												},
												{
													"source": {
														"name": "MOQ",
														"type": "String",
														"physicalType": "String"
													},
													"sink": {
														"name": "MOQ",
														"type": "String",
														"physicalType": "nvarchar"
													}
												},
												{
													"source": {
														"name": "Effective From",
														"type": "String",
														"physicalType": "String"
													},
													"sink": {
														"name": "Effective From",
														"type": "String",
														"physicalType": "nvarchar"
													}
												},
												{
													"source": {
														"name": "Effective To",
														"type": "String",
														"physicalType": "String"
													},
													"sink": {
														"name": "Effective To",
														"type": "String",
														"physicalType": "nvarchar"
													}
												},
												{
													"source": {
														"name": "Is Base",
														"type": "String",
														"physicalType": "String"
													},
													"sink": {
														"name": "Is Base",
														"type": "String",
														"physicalType": "nvarchar"
													}
												},
												{
													"source": {
														"name": "FileNameTxt",
														"type": "String"
													},
													"sink": {
														"name": "FilePath",
														"type": "String",
														"physicalType": "nvarchar"
													}
												},
												{
													"source": {
														"name": "LastModified",
														"type": "String"
													},
													"sink": {
														"name": "LastModifiedTime",
														"type": "String",
														"physicalType": "nvarchar"
													}
												}
											],
											"typeConversion": true,
											"typeConversionSettings": {
												"allowDataTruncation": true,
												"treatBooleanAsNumber": false
											}
										}
									},
									"inputs": [
										{
											"referenceName": "SBDFileCon",
											"type": "DatasetReference",
											"parameters": {
												"SBDFileName": {
													"value": "@item().name",
													"type": "Expression"
												}
											}
										}
									],
									"outputs": [
										{
											"referenceName": "SBDFileTable",
											"type": "DatasetReference",
											"parameters": {}
										}
									]
								}
							]
						}
					}
				],
				"annotations": [],
				"lastPublishTime": "2020-12-20T11:13:29Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/Folder_SBDBranchMapping')]",
				"[concat(variables('factoryId'), '/linkedServices/DataFoundationDW')]",
				"[concat(variables('factoryId'), '/datasets/Folder_SBDFile')]",
				"[concat(variables('factoryId'), '/datasets/Cnt_SBDBranchMapping')]",
				"[concat(variables('factoryId'), '/datasets/SBDBranchMappingTable')]",
				"[concat(variables('factoryId'), '/datasets/SBDFileCon')]",
				"[concat(variables('factoryId'), '/datasets/SBDFileTable')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/SalesHierarchyNew')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "ForEach_b58",
						"type": "ForEach",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@pipeline().parameters.cw_items",
								"type": "Expression"
							},
							"activities": [
								{
									"name": "Copy_b58",
									"type": "Copy",
									"dependsOn": [],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [
										{
											"name": "Source",
											"value": "dbo.@{item().source.table}"
										},
										{
											"name": "Destination",
											"value": "dbo.@{item().destination.table}"
										}
									],
									"typeProperties": {
										"source": {
											"type": "SqlServerSource",
											"partitionOption": "None"
										},
										"sink": {
											"type": "SqlDWSink",
											"preCopyScript": {
												"value": "@item().copySink.preCopyScript",
												"type": "Expression"
											}
										},
										"enableStaging": false,
										"validateDataConsistency": false,
										"translator": {
											"value": "@item().copyActivity.translator",
											"type": "Expression"
										}
									},
									"inputs": [
										{
											"referenceName": "SourceDataset_b58",
											"type": "DatasetReference",
											"parameters": {
												"cw_table": "@item().source.table"
											}
										}
									],
									"outputs": [
										{
											"referenceName": "DestinationDataset_b58",
											"type": "DatasetReference",
											"parameters": {
												"cw_table": "@item().destination.table"
											}
										}
									]
								}
							]
						}
					},
					{
						"name": "Transfer",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "ForEach_b58",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "SqlServerSource",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"sink": {
								"type": "SqlDWSink",
								"preCopyScript": "truncate table tblMstrPerson",
								"disableMetricsCollection": false
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "SourceDataset_b58",
								"type": "DatasetReference",
								"parameters": {
									"cw_table": "tblMstrPerson"
								}
							}
						],
						"outputs": [
							{
								"referenceName": "DestinationDataset_b58",
								"type": "DatasetReference",
								"parameters": {
									"cw_table": "tblMstrPerson"
								}
							}
						]
					}
				],
				"parameters": {
					"cw_items": {
						"type": "Array",
						"defaultValue": [
							{
								"source": {
									"table": "tblCompanySalesStructureActDBR"
								},
								"destination": {
									"table": "tblCompanySalesStructureActDBR"
								},
								"copySink": {
									"preCopyScript": "truncate table tblcompanysalesstructureactdbr"
								},
								"copyActivity": {
									"translator": {
										"type": "TabularTranslator",
										"mappings": [
											{
												"source": {
													"name": "NodeID",
													"type": "Int32"
												},
												"sink": {
													"name": "NodeID",
													"type": "Int32"
												}
											},
											{
												"source": {
													"name": "Code",
													"type": "String"
												},
												"sink": {
													"name": "Code",
													"type": "String"
												}
											},
											{
												"source": {
													"name": "Descr",
													"type": "String"
												},
												"sink": {
													"name": "Descr",
													"type": "String"
												}
											},
											{
												"source": {
													"name": "NodeType",
													"type": "Int32"
												},
												"sink": {
													"name": "NodeType",
													"type": "Int32"
												}
											},
											{
												"source": {
													"name": "IsActive",
													"type": "Boolean"
												},
												"sink": {
													"name": "IsActive",
													"type": "Boolean"
												}
											},
											{
												"source": {
													"name": "LoginIDIns",
													"type": "Int32"
												},
												"sink": {
													"name": "LoginIDIns",
													"type": "Int32"
												}
											},
											{
												"source": {
													"name": "TimestampIns",
													"type": "DateTime"
												},
												"sink": {
													"name": "TimestampIns",
													"type": "DateTime"
												}
											},
											{
												"source": {
													"name": "LoginIDUpd",
													"type": "Int32"
												},
												"sink": {
													"name": "LoginIDUpd",
													"type": "Int32"
												}
											},
											{
												"source": {
													"name": "TimestampUpd",
													"type": "DateTime"
												},
												"sink": {
													"name": "TimestampUpd",
													"type": "DateTime"
												}
											}
										]
									}
								}
							},
							{
								"source": {
									"table": "tblCompanySalesStructureBranch"
								},
								"destination": {
									"table": "tblCompanySalesStructureBranch"
								},
								"copySink": {
									"preCopyScript": "truncate table tblcompanysalesstructurebranch"
								},
								"copyActivity": {
									"translator": {
										"type": "TabularTranslator",
										"mappings": [
											{
												"source": {
													"name": "NodeID",
													"type": "Int32"
												},
												"sink": {
													"name": "NodeID",
													"type": "Int32"
												}
											},
											{
												"source": {
													"name": "Code",
													"type": "String"
												},
												"sink": {
													"name": "Code",
													"type": "String"
												}
											},
											{
												"source": {
													"name": "Descr",
													"type": "String"
												},
												"sink": {
													"name": "Descr",
													"type": "String"
												}
											},
											{
												"source": {
													"name": "NodeType",
													"type": "Int32"
												},
												"sink": {
													"name": "NodeType",
													"type": "Int32"
												}
											},
											{
												"source": {
													"name": "IsActive",
													"type": "Boolean"
												},
												"sink": {
													"name": "IsActive",
													"type": "Boolean"
												}
											},
											{
												"source": {
													"name": "LoginIDIns",
													"type": "Int32"
												},
												"sink": {
													"name": "LoginIDIns",
													"type": "Int32"
												}
											},
											{
												"source": {
													"name": "TimestampIns",
													"type": "DateTime"
												},
												"sink": {
													"name": "TimestampIns",
													"type": "DateTime"
												}
											},
											{
												"source": {
													"name": "LoginIDUpd",
													"type": "Int32"
												},
												"sink": {
													"name": "LoginIDUpd",
													"type": "Int32"
												}
											},
											{
												"source": {
													"name": "TimestampUpd",
													"type": "DateTime"
												},
												"sink": {
													"name": "TimestampUpd",
													"type": "DateTime"
												}
											},
											{
												"source": {
													"name": "TASSiteNodeId",
													"type": "Int32"
												},
												"sink": {
													"name": "TASSiteNodeId",
													"type": "Int32"
												}
											},
											{
												"source": {
													"name": "TASSiteNodeType",
													"type": "Int32"
												},
												"sink": {
													"name": "TASSiteNodeType",
													"type": "Int32"
												}
											},
											{
												"source": {
													"name": "NoOfDaysForInv",
													"type": "Byte"
												},
												"sink": {
													"name": "NoOfDaysForInv",
													"type": "Byte"
												}
											},
											{
												"source": {
													"name": "EMailId",
													"type": "String"
												},
												"sink": {
													"name": "EMailId",
													"type": "String"
												}
											},
											{
												"source": {
													"name": "ManagerName",
													"type": "String"
												},
												"sink": {
													"name": "ManagerName",
													"type": "String"
												}
											},
											{
												"source": {
													"name": "ContactNo",
													"type": "String"
												},
												"sink": {
													"name": "ContactNo",
													"type": "String"
												}
											},
											{
												"source": {
													"name": "IsMappedLeapSwing",
													"type": "Byte"
												},
												"sink": {
													"name": "IsMappedLeapSwing",
													"type": "Byte"
												}
											},
											{
												"source": {
													"name": "flgD2PendingOrder",
													"type": "Byte"
												},
												"sink": {
													"name": "flgD2PendingOrder",
													"type": "Byte"
												}
											},
											{
												"source": {
													"name": "PresentDSECallTypeId",
													"type": "Byte"
												},
												"sink": {
													"name": "PresentDSECallTypeId",
													"type": "Byte"
												}
											},
											{
												"source": {
													"name": "DayFrom",
													"type": "Int16"
												},
												"sink": {
													"name": "DayFrom",
													"type": "Int16"
												}
											},
											{
												"source": {
													"name": "DayTo",
													"type": "Int16"
												},
												"sink": {
													"name": "DayTo",
													"type": "Int16"
												}
											},
											{
												"source": {
													"name": "flgIncludeTCMissedCalls",
													"type": "Byte"
												},
												"sink": {
													"name": "flgIncludeTCMissedCalls",
													"type": "Byte"
												}
											},
											{
												"source": {
													"name": "INITClusterID",
													"type": "Int32"
												},
												"sink": {
													"name": "INITClusterID",
													"type": "Int32"
												}
											},
											{
												"source": {
													"name": "ActDBRNodeId",
													"type": "Int32"
												},
												"sink": {
													"name": "ActDBRNodeId",
													"type": "Int32"
												}
											},
											{
												"source": {
													"name": "ActDBRNodeType",
													"type": "Int32"
												},
												"sink": {
													"name": "ActDBRNodeType",
													"type": "Int32"
												}
											}
										]
									}
								}
							},
							{
								"source": {
									"table": "tblCompanySalesStructureDBR"
								},
								"destination": {
									"table": "tblCompanySalesStructureDBR"
								},
								"copySink": {
									"preCopyScript": "truncate table tblcompanysalesstructuredbr"
								},
								"copyActivity": {
									"translator": {
										"type": "TabularTranslator",
										"mappings": [
											{
												"source": {
													"name": "NodeID",
													"type": "Int32"
												},
												"sink": {
													"name": "NodeID",
													"type": "Int32"
												}
											},
											{
												"source": {
													"name": "Code",
													"type": "String"
												},
												"sink": {
													"name": "Code",
													"type": "String"
												}
											},
											{
												"source": {
													"name": "Descr",
													"type": "String"
												},
												"sink": {
													"name": "Descr",
													"type": "String"
												}
											},
											{
												"source": {
													"name": "NodeType",
													"type": "Int32"
												},
												"sink": {
													"name": "NodeType",
													"type": "Int32"
												}
											},
											{
												"source": {
													"name": "IsActive",
													"type": "Boolean"
												},
												"sink": {
													"name": "IsActive",
													"type": "Boolean"
												}
											},
											{
												"source": {
													"name": "LoginIDIns",
													"type": "Int32"
												},
												"sink": {
													"name": "LoginIDIns",
													"type": "Int32"
												}
											},
											{
												"source": {
													"name": "TimestampIns",
													"type": "DateTime"
												},
												"sink": {
													"name": "TimestampIns",
													"type": "DateTime"
												}
											},
											{
												"source": {
													"name": "LoginIDUpd",
													"type": "Int32"
												},
												"sink": {
													"name": "LoginIDUpd",
													"type": "Int32"
												}
											},
											{
												"source": {
													"name": "TimestampUpd",
													"type": "DateTime"
												},
												"sink": {
													"name": "TimestampUpd",
													"type": "DateTime"
												}
											},
											{
												"source": {
													"name": "flgLive",
													"type": "Boolean"
												},
												"sink": {
													"name": "flgLive",
													"type": "Boolean"
												}
											},
											{
												"source": {
													"name": "flgDRCPUploadType",
													"type": "Byte"
												},
												"sink": {
													"name": "flgDRCPUploadType",
													"type": "Byte"
												}
											},
											{
												"source": {
													"name": "flgSBD",
													"type": "Byte"
												},
												"sink": {
													"name": "flgSBD",
													"type": "Byte"
												}
											},
											{
												"source": {
													"name": "SBDTimeStamp",
													"type": "DateTime"
												},
												"sink": {
													"name": "SBDTimeStamp",
													"type": "DateTime"
												}
											},
											{
												"source": {
													"name": "flgSMSGuard",
													"type": "Byte"
												},
												"sink": {
													"name": "flgSMSGuard",
													"type": "Byte"
												}
											}
										]
									}
								}
							},
							{
								"source": {
									"table": "tblCompanySalesStructureHierarchy"
								},
								"destination": {
									"table": "tblCompanySalesStructureHierarchy"
								},
								"copySink": {
									"preCopyScript": "truncate table tblcompanysalesstructureHierarchy"
								},
								"copyActivity": {
									"translator": {
										"type": "TabularTranslator",
										"mappings": [
											{
												"source": {
													"name": "HierID",
													"type": "Int32"
												},
												"sink": {
													"name": "HierID",
													"type": "Int32"
												}
											},
											{
												"source": {
													"name": "NodeID",
													"type": "Int32"
												},
												"sink": {
													"name": "NodeID",
													"type": "Int32"
												}
											},
											{
												"source": {
													"name": "NodeType",
													"type": "Int32"
												},
												"sink": {
													"name": "NodeType",
													"type": "Int32"
												}
											},
											{
												"source": {
													"name": "PNodeID",
													"type": "Int32"
												},
												"sink": {
													"name": "PNodeID",
													"type": "Int32"
												}
											},
											{
												"source": {
													"name": "PNodeType",
													"type": "Int32"
												},
												"sink": {
													"name": "PNodeType",
													"type": "Int32"
												}
											},
											{
												"source": {
													"name": "HierTypeID",
													"type": "Int32"
												},
												"sink": {
													"name": "HierTypeID",
													"type": "Int32"
												}
											},
											{
												"source": {
													"name": "PHierId",
													"type": "Int32"
												},
												"sink": {
													"name": "PHierId",
													"type": "Int32"
												}
											},
											{
												"source": {
													"name": "VldFrom",
													"type": "Date"
												},
												"sink": {
													"name": "VldFrom",
													"type": "Date"
												}
											},
											{
												"source": {
													"name": "VldTo",
													"type": "Date"
												},
												"sink": {
													"name": "VldTo",
													"type": "Date"
												}
											}
										]
									}
								}
							},
							{
								"source": {
									"table": "tblCompanySalesStructureMgnrLvl1"
								},
								"destination": {
									"table": "tblCompanySalesStructureMgnrLvl1"
								},
								"copySink": {
									"preCopyScript": "truncate table tblcompanysalesstructureMgnrLvl1"
								},
								"copyActivity": {
									"translator": {
										"type": "TabularTranslator",
										"mappings": [
											{
												"source": {
													"name": "NodeID",
													"type": "Int32"
												},
												"sink": {
													"name": "NodeID",
													"type": "Int32"
												}
											},
											{
												"source": {
													"name": "Descr",
													"type": "String"
												},
												"sink": {
													"name": "Descr",
													"type": "String"
												}
											},
											{
												"source": {
													"name": "NodeType",
													"type": "Int32"
												},
												"sink": {
													"name": "NodeType",
													"type": "Int32"
												}
											},
											{
												"source": {
													"name": "IsActive",
													"type": "Boolean"
												},
												"sink": {
													"name": "IsActive",
													"type": "Boolean"
												}
											},
											{
												"source": {
													"name": "LoginIDIns",
													"type": "Int32"
												},
												"sink": {
													"name": "LoginIDIns",
													"type": "Int32"
												}
											},
											{
												"source": {
													"name": "TimestampIns",
													"type": "DateTime"
												},
												"sink": {
													"name": "TimestampIns",
													"type": "DateTime"
												}
											},
											{
												"source": {
													"name": "LoginIDUpd",
													"type": "Int32"
												},
												"sink": {
													"name": "LoginIDUpd",
													"type": "Int32"
												}
											},
											{
												"source": {
													"name": "TimestampUpd",
													"type": "DateTime"
												},
												"sink": {
													"name": "TimestampUpd",
													"type": "DateTime"
												}
											}
										]
									}
								}
							},
							{
								"source": {
									"table": "tblCompanySalesStructureMgnrLvl2"
								},
								"destination": {
									"table": "tblCompanySalesStructureMgnrLvl2"
								},
								"copySink": {
									"preCopyScript": "truncate table tblcompanysalesstructureMgnrLvl2"
								},
								"copyActivity": {
									"translator": {
										"type": "TabularTranslator",
										"mappings": [
											{
												"source": {
													"name": "NodeID",
													"type": "Int32"
												},
												"sink": {
													"name": "NodeID",
													"type": "Int32"
												}
											},
											{
												"source": {
													"name": "Descr",
													"type": "String"
												},
												"sink": {
													"name": "Descr",
													"type": "String"
												}
											},
											{
												"source": {
													"name": "NodeType",
													"type": "Int32"
												},
												"sink": {
													"name": "NodeType",
													"type": "Int32"
												}
											},
											{
												"source": {
													"name": "IsActive",
													"type": "Boolean"
												},
												"sink": {
													"name": "IsActive",
													"type": "Boolean"
												}
											},
											{
												"source": {
													"name": "LoginIDIns",
													"type": "Int32"
												},
												"sink": {
													"name": "LoginIDIns",
													"type": "Int32"
												}
											},
											{
												"source": {
													"name": "TimestampIns",
													"type": "DateTime"
												},
												"sink": {
													"name": "TimestampIns",
													"type": "DateTime"
												}
											},
											{
												"source": {
													"name": "LoginIDUpd",
													"type": "Int32"
												},
												"sink": {
													"name": "LoginIDUpd",
													"type": "Int32"
												}
											},
											{
												"source": {
													"name": "TimestampUpd",
													"type": "DateTime"
												},
												"sink": {
													"name": "TimestampUpd",
													"type": "DateTime"
												}
											}
										]
									}
								}
							},
							{
								"source": {
									"table": "tblCompanySalesStructureMgnrLvl3"
								},
								"destination": {
									"table": "tblCompanySalesStructureMgnrLvl3"
								},
								"copySink": {
									"preCopyScript": "truncate table tblcompanysalesstructureMgnrLvl3"
								},
								"copyActivity": {
									"translator": {
										"type": "TabularTranslator",
										"mappings": [
											{
												"source": {
													"name": "NodeID",
													"type": "Int32"
												},
												"sink": {
													"name": "NodeID",
													"type": "Int32"
												}
											},
											{
												"source": {
													"name": "Descr",
													"type": "String"
												},
												"sink": {
													"name": "Descr",
													"type": "String"
												}
											},
											{
												"source": {
													"name": "NodeType",
													"type": "Int32"
												},
												"sink": {
													"name": "NodeType",
													"type": "Int32"
												}
											},
											{
												"source": {
													"name": "IsActive",
													"type": "Boolean"
												},
												"sink": {
													"name": "IsActive",
													"type": "Boolean"
												}
											},
											{
												"source": {
													"name": "LoginIDIns",
													"type": "Int32"
												},
												"sink": {
													"name": "LoginIDIns",
													"type": "Int32"
												}
											},
											{
												"source": {
													"name": "TimestampIns",
													"type": "DateTime"
												},
												"sink": {
													"name": "TimestampIns",
													"type": "DateTime"
												}
											},
											{
												"source": {
													"name": "LoginIDUpd",
													"type": "Int32"
												},
												"sink": {
													"name": "LoginIDUpd",
													"type": "Int32"
												}
											},
											{
												"source": {
													"name": "TimestampUpd",
													"type": "DateTime"
												},
												"sink": {
													"name": "TimestampUpd",
													"type": "DateTime"
												}
											}
										]
									}
								}
							},
							{
								"source": {
									"table": "tblCompanySalesStructureTASSite"
								},
								"destination": {
									"table": "tblCompanySalesStructureTASSite"
								},
								"copySink": {
									"preCopyScript": "truncate table tblcompanysalesstructureTASSite"
								},
								"copyActivity": {
									"translator": {
										"type": "TabularTranslator",
										"mappings": [
											{
												"source": {
													"name": "NodeID",
													"type": "Int32"
												},
												"sink": {
													"name": "NodeID",
													"type": "Int32"
												}
											},
											{
												"source": {
													"name": "Code",
													"type": "String"
												},
												"sink": {
													"name": "Code",
													"type": "String"
												}
											},
											{
												"source": {
													"name": "Descr",
													"type": "String"
												},
												"sink": {
													"name": "Descr",
													"type": "String"
												}
											},
											{
												"source": {
													"name": "NodeType",
													"type": "Int32"
												},
												"sink": {
													"name": "NodeType",
													"type": "Int32"
												}
											},
											{
												"source": {
													"name": "IsActive",
													"type": "Boolean"
												},
												"sink": {
													"name": "IsActive",
													"type": "Boolean"
												}
											},
											{
												"source": {
													"name": "LoginIDIns",
													"type": "Int32"
												},
												"sink": {
													"name": "LoginIDIns",
													"type": "Int32"
												}
											},
											{
												"source": {
													"name": "TimestampIns",
													"type": "DateTime"
												},
												"sink": {
													"name": "TimestampIns",
													"type": "DateTime"
												}
											},
											{
												"source": {
													"name": "LoginIDUpd",
													"type": "Int32"
												},
												"sink": {
													"name": "LoginIDUpd",
													"type": "Int32"
												}
											},
											{
												"source": {
													"name": "TimestampUpd",
													"type": "DateTime"
												},
												"sink": {
													"name": "TimestampUpd",
													"type": "DateTime"
												}
											},
											{
												"source": {
													"name": "flgLive",
													"type": "Boolean"
												},
												"sink": {
													"name": "flgLive",
													"type": "Boolean"
												}
											},
											{
												"source": {
													"name": "DBRName",
													"type": "String"
												},
												"sink": {
													"name": "DBRName",
													"type": "String"
												}
											},
											{
												"source": {
													"name": "flgGuard3SMS",
													"type": "Byte"
												},
												"sink": {
													"name": "flgGuard3SMS",
													"type": "Byte"
												}
											}
										]
									}
								}
							}
						]
					}
				},
				"annotations": [],
				"lastPublishTime": "2020-10-23T14:14:10Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/SourceDataset_b58')]",
				"[concat(variables('factoryId'), '/datasets/DestinationDataset_b58')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/pipeline1')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Copy data1",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "SqlMISource",
								"sqlReaderQuery": "select *,'' as FileName,'' AS LastModifiedDatetime,\n\t0 AS FileSetId,0 AS BranchSubdNodeId,0 AS BranchSubdNodeType,\n\t0 AS StoreId,\n\t0 AS DSENodeId,\n\t0 AS DSENodeType,\n\t0 AS SBFNodeId,\n\t0 AS SbfNodeType from tmpOrderDataForDataFoundation",
								"partitionOption": "None"
							},
							"sink": {
								"type": "SqlDWSink",
								"preCopyScript": "truncate table tmpOrderDataForDataFoundation",
								"disableMetricsCollection": false
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "BranchSubdType",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "BranchSubdType",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "BranchSUBDCode",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "BranchSUBDCode",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "StoreCode",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "StoreCode",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "OrderNo",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "OrderNo",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "OrderDate",
											"type": "DateTime",
											"physicalType": "date"
										},
										"sink": {
											"name": "OrderDate",
											"type": "DateTime",
											"physicalType": "date"
										}
									},
									{
										"source": {
											"name": "DSECode",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "DSECode",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "SBFCode",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "SBFCode",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "SBFName",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "SBFName",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Qty",
											"type": "Int32",
											"physicalType": "int"
										},
										"sink": {
											"name": "Qty",
											"type": "Int32",
											"physicalType": "int"
										}
									},
									{
										"source": {
											"name": "Rate",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 2,
											"precision": 18
										},
										"sink": {
											"name": "Rate",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 2,
											"precision": 18
										}
									},
									{
										"source": {
											"name": "RetailingAmt",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 2,
											"precision": 18
										},
										"sink": {
											"name": "RetailingAmt",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 2,
											"precision": 18
										}
									},
									{
										"source": {
											"name": "TeleCallerCode",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "TeleCallerCode",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "FileName",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "FileName",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "LastModifiedDatetime",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "LastModifiedDatetime",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "FileSetId",
											"type": "Int32",
											"physicalType": "int"
										},
										"sink": {
											"name": "FileSetId",
											"type": "Int64",
											"physicalType": "bigint"
										}
									},
									{
										"source": {
											"name": "BranchSubdNodeId",
											"type": "Int32",
											"physicalType": "int"
										},
										"sink": {
											"name": "BranchSubdNodeId",
											"type": "Int32",
											"physicalType": "int"
										}
									},
									{
										"source": {
											"name": "BranchSubdNodeType",
											"type": "Int32",
											"physicalType": "int"
										},
										"sink": {
											"name": "BranchSubdNodeType",
											"type": "Int32",
											"physicalType": "int"
										}
									},
									{
										"source": {
											"name": "StoreId",
											"type": "Int32",
											"physicalType": "int"
										},
										"sink": {
											"name": "StoreId",
											"type": "Int32",
											"physicalType": "int"
										}
									},
									{
										"source": {
											"name": "DSENodeId",
											"type": "Int32",
											"physicalType": "int"
										},
										"sink": {
											"name": "DSENodeId",
											"type": "Int32",
											"physicalType": "int"
										}
									},
									{
										"source": {
											"name": "DSENodeType",
											"type": "Int32",
											"physicalType": "int"
										},
										"sink": {
											"name": "DSENodeType",
											"type": "Int32",
											"physicalType": "int"
										}
									},
									{
										"source": {
											"name": "SBFNodeId",
											"type": "Int32",
											"physicalType": "int"
										},
										"sink": {
											"name": "SBFNodeId",
											"type": "Int32",
											"physicalType": "int"
										}
									},
									{
										"source": {
											"name": "SbfNodeType",
											"type": "Int32",
											"physicalType": "int"
										},
										"sink": {
											"name": "SbfNodeType",
											"type": "Int32",
											"physicalType": "int"
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "AzureSqlMITable1",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "AzureSynapseAnalyticsTable1",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					}
				],
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/AzureSqlMITable1')]",
				"[concat(variables('factoryId'), '/datasets/AzureSynapseAnalyticsTable1')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/AzureSqlMITable1')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureSqlMI1",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureSqlMITable",
				"schema": [],
				"typeProperties": {}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/AzureSqlMI1')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/AzureSynapseAnalyticsTable1')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "DataFoundationDW",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureSqlDWTable",
				"schema": [
					{
						"name": "BranchSubdType",
						"type": "varchar"
					},
					{
						"name": "BranchSUBDCode",
						"type": "varchar"
					},
					{
						"name": "StoreCode",
						"type": "varchar"
					},
					{
						"name": "OrderNo",
						"type": "varchar"
					},
					{
						"name": "OrderDate",
						"type": "date"
					},
					{
						"name": "DSECode",
						"type": "varchar"
					},
					{
						"name": "SBFCode",
						"type": "varchar"
					},
					{
						"name": "SBFName",
						"type": "varchar"
					},
					{
						"name": "Qty",
						"type": "int",
						"precision": 10
					},
					{
						"name": "Rate",
						"type": "decimal",
						"precision": 18,
						"scale": 2
					},
					{
						"name": "RetailingAmt",
						"type": "decimal",
						"precision": 18,
						"scale": 2
					},
					{
						"name": "TeleCallerCode",
						"type": "varchar"
					},
					{
						"name": "FileName",
						"type": "varchar"
					},
					{
						"name": "LastModifiedDatetime",
						"type": "varchar"
					},
					{
						"name": "FileSetId",
						"type": "bigint",
						"precision": 19
					},
					{
						"name": "BranchSubdNodeId",
						"type": "int",
						"precision": 10
					},
					{
						"name": "BranchSubdNodeType",
						"type": "int",
						"precision": 10
					},
					{
						"name": "StoreId",
						"type": "int",
						"precision": 10
					},
					{
						"name": "DSENodeId",
						"type": "int",
						"precision": 10
					},
					{
						"name": "DSENodeType",
						"type": "int",
						"precision": 10
					},
					{
						"name": "SBFNodeId",
						"type": "int",
						"precision": 10
					},
					{
						"name": "SbfNodeType",
						"type": "int",
						"precision": 10
					}
				],
				"typeProperties": {
					"schema": "dbo",
					"table": "tmpOrderDataForDataFoundation"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/DataFoundationDW')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/CntOldLeapFileLoad')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureBlobNCSArchive",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"folderPath": "OLDPSR",
						"container": "temp"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": [
					{
						"name": "document_no",
						"type": "String"
					},
					{
						"name": "apply_to_doc",
						"type": "String"
					},
					{
						"name": "document_date",
						"type": "String"
					},
					{
						"name": "transaction_type",
						"type": "String"
					},
					{
						"name": "subbrandform_name",
						"type": "String"
					},
					{
						"name": "prod_name",
						"type": "String"
					},
					{
						"name": "customer_name",
						"type": "String"
					},
					{
						"name": "customer_code",
						"type": "String"
					},
					{
						"name": "retailer_gst_no",
						"type": "String"
					},
					{
						"name": "channel_description",
						"type": "String"
					},
					{
						"name": "dse",
						"type": "String"
					},
					{
						"name": "pcode",
						"type": "String"
					},
					{
						"name": "batch",
						"type": "String"
					},
					{
						"name": "customer_type",
						"type": "String"
					},
					{
						"name": "hsn_code",
						"type": "String"
					},
					{
						"name": "category",
						"type": "String"
					},
					{
						"name": "brand",
						"type": "String"
					},
					{
						"name": "brandform",
						"type": "String"
					},
					{
						"name": "upc",
						"type": "String"
					},
					{
						"name": "quantity",
						"type": "String"
					},
					{
						"name": "gross_value",
						"type": "String"
					},
					{
						"name": "discount",
						"type": "String"
					},
					{
						"name": "taxable_scheme",
						"type": "String"
					},
					{
						"name": "cgst_amount",
						"type": "String"
					},
					{
						"name": "sgst_amount",
						"type": "String"
					},
					{
						"name": "igst_amount",
						"type": "String"
					},
					{
						"name": "cess_amount",
						"type": "String"
					},
					{
						"name": "tcs_amount",
						"type": "String"
					},
					{
						"name": "mracc_code",
						"type": "String"
					},
					{
						"name": "mracc_desc",
						"type": "String"
					},
					{
						"name": "vendor",
						"type": "String"
					},
					{
						"name": "net_amount",
						"type": "String"
					},
					{
						"name": "tax_on_discount",
						"type": "String"
					},
					{
						"name": "tax_on_scheme",
						"type": "String"
					},
					{
						"name": "tax_in_rlp",
						"type": "String"
					},
					{
						"name": "retailing",
						"type": "String"
					},
					{
						"name": "gross_in_slp",
						"type": "String"
					},
					{
						"name": "po_no",
						"type": "String"
					},
					{
						"name": "dse_code",
						"type": "String"
					},
					{
						"name": "msu",
						"type": "String"
					},
					{
						"name": "reason",
						"type": "String"
					},
					{
						"name": "remarks",
						"type": "String"
					},
					{
						"name": "srn_ref_no",
						"type": "String"
					},
					{
						"name": "composite",
						"type": "String"
					},
					{
						"name": "cgst_rate",
						"type": "String"
					},
					{
						"name": "sgst_rate",
						"type": "String"
					},
					{
						"name": "igst_rate",
						"type": "String"
					},
					{
						"name": "cess_rate",
						"type": "String"
					},
					{
						"name": "tcs_rate",
						"type": "String"
					},
					{
						"name": "branch_code",
						"type": "String"
					},
					{
						"name": "branch_name",
						"type": "String"
					},
					{
						"name": "distributor_gst_no",
						"type": "String"
					},
					{
						"name": "order_mode",
						"type": "String"
					},
					{
						"name": "branch_gst_no",
						"type": "String"
					},
					{
						"name": "dl_no",
						"type": "String"
					},
					{
						"name": "dl_expiry_date",
						"type": "String"
					},
					{
						"name": "tc_code",
						"type": "String"
					},
					{
						"name": "tc_name",
						"type": "String"
					},
					{
						"name": "irn_no",
						"type": "String"
					}
				]
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/AzureBlobNCSArchive')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/CntRTRMProject')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureDatafoundation",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"Mnth": {
						"type": "string",
						"defaultValue": "2020/09/30"
					}
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"fileName": {
							"value": "RTRM_cloud0*.gz",
							"type": "Expression"
						},
						"folderPath": {
							"value": "@dataset().Mnth",
							"type": "Expression"
						},
						"container": "cntleap"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"quoteChar": "\""
				},
				"schema": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/AzureDatafoundation')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/Cnt_SBDBranchMapping')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureBlobNCSArchive",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"BrnMapFileName": {
						"type": "string",
						"defaultValue": "SBD_BranchMapping_Upload_PNGIndia APTL.xls"
					}
				},
				"annotations": [],
				"type": "Excel",
				"typeProperties": {
					"sheetName": "Sheet1",
					"location": {
						"type": "AzureBlobStorageLocation",
						"fileName": {
							"value": "@dataset().BrnMapFileName",
							"type": "Expression"
						},
						"folderPath": "SBD/BranchMapping",
						"container": "subddata"
					},
					"firstRowAsHeader": true
				},
				"schema": [
					{
						"name": "SBD Name",
						"type": "String"
					},
					{
						"name": "Distributor Code",
						"type": "String"
					},
					{
						"name": "Branch Code",
						"type": "String"
					}
				]
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/AzureBlobNCSArchive')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/DestinationDataset_07h')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "DataFoundationDW",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"cw_table": {
						"type": "String"
					}
				},
				"annotations": [],
				"type": "AzureSqlDWTable",
				"schema": [],
				"typeProperties": {
					"schema": "dbo",
					"table": {
						"value": "@dataset().cw_table",
						"type": "Expression"
					}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/DataFoundationDW')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/DestinationDataset_b58')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "DataFoundationDW",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"cw_table": {
						"type": "String"
					}
				},
				"annotations": [],
				"type": "AzureSqlDWTable",
				"schema": [],
				"typeProperties": {
					"schema": "dbo",
					"table": {
						"value": "@dataset().cw_table",
						"type": "Expression"
					}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/DataFoundationDW')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/DestinationDataset_k3b')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "DataFoundationDW",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"cw_table": {
						"type": "String"
					}
				},
				"annotations": [],
				"type": "AzureSqlDWTable",
				"schema": [],
				"typeProperties": {
					"schema": "dbo",
					"table": {
						"value": "@dataset().cw_table",
						"type": "Expression"
					}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/DataFoundationDW')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/DestinationDataset_llg')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "DataFoundationDW",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureSqlDWTable",
				"schema": [
					{
						"name": "branch_code",
						"type": "nvarchar"
					},
					{
						"name": "branch_location",
						"type": "nvarchar"
					},
					{
						"name": "retailer_code",
						"type": "nvarchar"
					},
					{
						"name": "retailer_name",
						"type": "nvarchar"
					},
					{
						"name": "address_1",
						"type": "nvarchar"
					},
					{
						"name": "address_2",
						"type": "nvarchar"
					},
					{
						"name": "pin_number",
						"type": "nvarchar"
					},
					{
						"name": "area_code",
						"type": "nvarchar"
					},
					{
						"name": "area",
						"type": "nvarchar"
					},
					{
						"name": "town_code",
						"type": "nvarchar"
					},
					{
						"name": "town",
						"type": "nvarchar"
					},
					{
						"name": "town_class",
						"type": "nvarchar"
					},
					{
						"name": "city",
						"type": "nvarchar"
					},
					{
						"name": "state",
						"type": "nvarchar"
					},
					{
						"name": "mobile_number",
						"type": "nvarchar"
					},
					{
						"name": "phone_number",
						"type": "nvarchar"
					},
					{
						"name": "contact_person",
						"type": "nvarchar"
					},
					{
						"name": "stl_name",
						"type": "nvarchar"
					},
					{
						"name": "dse_name",
						"type": "nvarchar"
					},
					{
						"name": "frequency",
						"type": "nvarchar"
					},
					{
						"name": "distance",
						"type": "nvarchar"
					},
					{
						"name": "class_code",
						"type": "nvarchar"
					},
					{
						"name": "class",
						"type": "nvarchar"
					},
					{
						"name": "channel_code",
						"type": "nvarchar"
					},
					{
						"name": "channel",
						"type": "nvarchar"
					},
					{
						"name": "subchannel_code",
						"type": "nvarchar"
					},
					{
						"name": "subchannel",
						"type": "nvarchar"
					},
					{
						"name": "mr_account_code",
						"type": "nvarchar"
					},
					{
						"name": "mr_account_name",
						"type": "nvarchar"
					},
					{
						"name": "credit_limit",
						"type": "nvarchar"
					},
					{
						"name": "credit_period",
						"type": "nvarchar"
					},
					{
						"name": "invoice_limit",
						"type": "nvarchar"
					},
					{
						"name": "certificate_type",
						"type": "nvarchar"
					},
					{
						"name": "gst_number",
						"type": "nvarchar"
					},
					{
						"name": "pan_no",
						"type": "nvarchar"
					},
					{
						"name": "dl_number",
						"type": "nvarchar"
					},
					{
						"name": "dl_expiry_date",
						"type": "nvarchar"
					},
					{
						"name": "email",
						"type": "nvarchar"
					},
					{
						"name": "dob",
						"type": "nvarchar"
					},
					{
						"name": "doa",
						"type": "nvarchar"
					},
					{
						"name": "status",
						"type": "nvarchar"
					},
					{
						"name": "default_warehouse_code",
						"type": "nvarchar"
					},
					{
						"name": "default_warehouse",
						"type": "nvarchar"
					},
					{
						"name": "restricted_orderswap_status",
						"type": "nvarchar"
					},
					{
						"name": "lattitude",
						"type": "nvarchar"
					},
					{
						"name": "longitude",
						"type": "nvarchar"
					},
					{
						"name": "retailer_radius",
						"type": "nvarchar"
					},
					{
						"name": "FileSetId",
						"type": "bigint",
						"precision": 19
					},
					{
						"name": "Filename",
						"type": "varchar"
					},
					{
						"name": "LastModifiedDatetime",
						"type": "smalldatetime",
						"precision": 16,
						"scale": 0
					},
					{
						"name": "TimeStampIns",
						"type": "smalldatetime",
						"precision": 16,
						"scale": 0
					},
					{
						"name": "id",
						"type": "int",
						"precision": 10
					}
				],
				"typeProperties": {
					"schema": "dbo",
					"table": "tmpRawLEAPTAS_RTRM"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/DataFoundationDW')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/DestinationDataset_sqi')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureBlobNCSArchive",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"fileName": "tmpBranchMultipleDSEData.csv",
						"container": "tempfolderfordelete"
					},
					"columnDelimiter": "|",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/AzureBlobNCSArchive')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/DestinationDataset_xvt')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "DataFoundationDW",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"cw_table": {
						"type": "String"
					}
				},
				"annotations": [],
				"type": "AzureSqlDWTable",
				"schema": [],
				"typeProperties": {
					"schema": "dbo",
					"table": {
						"value": "@dataset().cw_table",
						"type": "Expression"
					}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/DataFoundationDW')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/Folder_SBDBranchMapping')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureBlobNCSArchive",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "Excel",
				"typeProperties": {
					"sheetName": "Sheet1",
					"location": {
						"type": "AzureBlobStorageLocation",
						"fileName": "*.xls",
						"folderPath": "SBD/BranchMapping",
						"container": "subddata"
					}
				},
				"schema": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/AzureBlobNCSArchive')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/Folder_SBDFile')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureBlobNCSArchive",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "Excel",
				"typeProperties": {
					"sheetName": "Sheet1",
					"location": {
						"type": "AzureBlobStorageLocation",
						"fileName": "*.xlsx",
						"folderPath": "SBD/SBDDetailFile",
						"container": "subddata"
					},
					"firstRowAsHeader": false
				},
				"schema": [
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					}
				]
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/AzureBlobNCSArchive')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/OldLeapSalesTable')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "DataFoundationDW",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureSqlDWTable",
				"schema": [
					{
						"name": "document_no",
						"type": "nvarchar"
					},
					{
						"name": "apply_to_doc",
						"type": "nvarchar"
					},
					{
						"name": "document_date",
						"type": "nvarchar"
					},
					{
						"name": "transaction_type",
						"type": "nvarchar"
					},
					{
						"name": "subbrandform_name",
						"type": "nvarchar"
					},
					{
						"name": "prod_name",
						"type": "nvarchar"
					},
					{
						"name": "customer_name",
						"type": "nvarchar"
					},
					{
						"name": "customer_code",
						"type": "nvarchar"
					},
					{
						"name": "retailer_gst_no",
						"type": "nvarchar"
					},
					{
						"name": "channel_description",
						"type": "nvarchar"
					},
					{
						"name": "dse",
						"type": "nvarchar"
					},
					{
						"name": "pcode",
						"type": "nvarchar"
					},
					{
						"name": "batch",
						"type": "nvarchar"
					},
					{
						"name": "customer_type",
						"type": "nvarchar"
					},
					{
						"name": "hsn_code",
						"type": "nvarchar"
					},
					{
						"name": "category",
						"type": "nvarchar"
					},
					{
						"name": "brand",
						"type": "nvarchar"
					},
					{
						"name": "brandform",
						"type": "nvarchar"
					},
					{
						"name": "upc",
						"type": "nvarchar"
					},
					{
						"name": "quantity",
						"type": "nvarchar"
					},
					{
						"name": "gross_value",
						"type": "nvarchar"
					},
					{
						"name": "discount",
						"type": "nvarchar"
					},
					{
						"name": "taxable_scheme",
						"type": "nvarchar"
					},
					{
						"name": "cgst_amount",
						"type": "nvarchar"
					},
					{
						"name": "sgst_amount",
						"type": "nvarchar"
					},
					{
						"name": "igst_amount",
						"type": "nvarchar"
					},
					{
						"name": "cess_amount",
						"type": "nvarchar"
					},
					{
						"name": "tcs_amount",
						"type": "nvarchar"
					},
					{
						"name": "mracc_code",
						"type": "nvarchar"
					},
					{
						"name": "mracc_desc",
						"type": "nvarchar"
					},
					{
						"name": "vendor",
						"type": "nvarchar"
					},
					{
						"name": "net_amount",
						"type": "nvarchar"
					},
					{
						"name": "tax_on_discount",
						"type": "nvarchar"
					},
					{
						"name": "tax_on_scheme",
						"type": "nvarchar"
					},
					{
						"name": "tax_in_rlp",
						"type": "nvarchar"
					},
					{
						"name": "retailing",
						"type": "nvarchar"
					},
					{
						"name": "gross_in_slp",
						"type": "nvarchar"
					},
					{
						"name": "po_no",
						"type": "nvarchar"
					},
					{
						"name": "dse_code",
						"type": "nvarchar"
					},
					{
						"name": "msu",
						"type": "nvarchar"
					},
					{
						"name": "reason",
						"type": "nvarchar"
					},
					{
						"name": "remarks",
						"type": "nvarchar"
					},
					{
						"name": "srn_ref_no",
						"type": "nvarchar"
					},
					{
						"name": "composite",
						"type": "nvarchar"
					},
					{
						"name": "cgst_rate",
						"type": "nvarchar"
					},
					{
						"name": "sgst_rate",
						"type": "nvarchar"
					},
					{
						"name": "igst_rate",
						"type": "nvarchar"
					},
					{
						"name": "cess_rate",
						"type": "nvarchar"
					},
					{
						"name": "tcs_rate",
						"type": "nvarchar"
					},
					{
						"name": "branch_code",
						"type": "nvarchar"
					},
					{
						"name": "branch_name",
						"type": "nvarchar"
					},
					{
						"name": "distributor_gst_no",
						"type": "nvarchar"
					},
					{
						"name": "order_mode",
						"type": "nvarchar"
					},
					{
						"name": "branch_gst_no",
						"type": "nvarchar"
					},
					{
						"name": "dl_no",
						"type": "nvarchar"
					},
					{
						"name": "dl_expiry_date",
						"type": "nvarchar"
					},
					{
						"name": "tc_code",
						"type": "nvarchar"
					},
					{
						"name": "tc_name",
						"type": "nvarchar"
					},
					{
						"name": "irn_no",
						"type": "nvarchar"
					},
					{
						"name": "FileName",
						"type": "varchar"
					}
				],
				"typeProperties": {
					"schema": "dbo",
					"table": "tmppsr_olddata_tst"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/DataFoundationDW')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/OldSalesLeapFileName')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureBlobNCSArchive",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"LeapSalesFileName": {
						"type": "string",
						"defaultValue": "DPSR_2001595636_20191130.csv"
					}
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"fileName": {
							"value": "@dataset().LeapSalesFileName",
							"type": "Expression"
						},
						"folderPath": "OLDPSR",
						"container": "temp"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": [
					{
						"name": "document_no",
						"type": "String"
					},
					{
						"name": "apply_to_doc",
						"type": "String"
					},
					{
						"name": "document_date",
						"type": "String"
					},
					{
						"name": "transaction_type",
						"type": "String"
					},
					{
						"name": "subbrandform_name",
						"type": "String"
					},
					{
						"name": "prod_name",
						"type": "String"
					},
					{
						"name": "customer_name",
						"type": "String"
					},
					{
						"name": "customer_code",
						"type": "String"
					},
					{
						"name": "retailer_gst_no",
						"type": "String"
					},
					{
						"name": "channel_description",
						"type": "String"
					},
					{
						"name": "dse",
						"type": "String"
					},
					{
						"name": "pcode",
						"type": "String"
					},
					{
						"name": "batch",
						"type": "String"
					},
					{
						"name": "customer_type",
						"type": "String"
					},
					{
						"name": "hsn_code",
						"type": "String"
					},
					{
						"name": "category",
						"type": "String"
					},
					{
						"name": "brand",
						"type": "String"
					},
					{
						"name": "brandform",
						"type": "String"
					},
					{
						"name": "upc",
						"type": "String"
					},
					{
						"name": "quantity",
						"type": "String"
					},
					{
						"name": "gross_value",
						"type": "String"
					},
					{
						"name": "discount",
						"type": "String"
					},
					{
						"name": "taxable_scheme",
						"type": "String"
					},
					{
						"name": "cgst_amount",
						"type": "String"
					},
					{
						"name": "sgst_amount",
						"type": "String"
					},
					{
						"name": "igst_amount",
						"type": "String"
					},
					{
						"name": "cess_amount",
						"type": "String"
					},
					{
						"name": "tcs_amount",
						"type": "String"
					},
					{
						"name": "mracc_code",
						"type": "String"
					},
					{
						"name": "mracc_desc",
						"type": "String"
					},
					{
						"name": "vendor",
						"type": "String"
					},
					{
						"name": "net_amount",
						"type": "String"
					},
					{
						"name": "tax_on_discount",
						"type": "String"
					},
					{
						"name": "tax_on_scheme",
						"type": "String"
					},
					{
						"name": "tax_in_rlp",
						"type": "String"
					},
					{
						"name": "retailing",
						"type": "String"
					},
					{
						"name": "gross_in_slp",
						"type": "String"
					},
					{
						"name": "po_no",
						"type": "String"
					},
					{
						"name": "dse_code",
						"type": "String"
					},
					{
						"name": "msu",
						"type": "String"
					},
					{
						"name": "reason",
						"type": "String"
					},
					{
						"name": "remarks",
						"type": "String"
					},
					{
						"name": "srn_ref_no",
						"type": "String"
					},
					{
						"name": "composite",
						"type": "String"
					},
					{
						"name": "cgst_rate",
						"type": "String"
					},
					{
						"name": "sgst_rate",
						"type": "String"
					},
					{
						"name": "igst_rate",
						"type": "String"
					},
					{
						"name": "cess_rate",
						"type": "String"
					},
					{
						"name": "tcs_rate",
						"type": "String"
					},
					{
						"name": "branch_code",
						"type": "String"
					},
					{
						"name": "branch_name",
						"type": "String"
					},
					{
						"name": "distributor_gst_no",
						"type": "String"
					},
					{
						"name": "order_mode",
						"type": "String"
					},
					{
						"name": "branch_gst_no",
						"type": "String"
					},
					{
						"name": "dl_no",
						"type": "String"
					},
					{
						"name": "dl_expiry_date",
						"type": "String"
					},
					{
						"name": "tc_code",
						"type": "String"
					},
					{
						"name": "tc_name",
						"type": "String"
					},
					{
						"name": "irn_no",
						"type": "String"
					}
				]
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/AzureBlobNCSArchive')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/SBDBranchMappingTable')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "DataFoundationDW",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureSqlDWTable",
				"schema": [
					{
						"name": "SBDName",
						"type": "nvarchar"
					},
					{
						"name": "DistributorCode",
						"type": "nvarchar"
					},
					{
						"name": "BranchCode",
						"type": "nvarchar"
					}
				],
				"typeProperties": {
					"schema": "dbo",
					"table": "tmpSBDBranchMapping"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/DataFoundationDW')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/SBDFileCon')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureBlobNCSArchive",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"SBDFileName": {
						"type": "string",
						"defaultValue": "SBD_AP,TL.xlsx"
					}
				},
				"annotations": [],
				"type": "Excel",
				"typeProperties": {
					"sheetName": "Sheet1",
					"location": {
						"type": "AzureBlobStorageLocation",
						"fileName": {
							"value": "@dataset().SBDFileName",
							"type": "Expression"
						},
						"folderPath": "SBD/SBDDetailFile",
						"container": "subddata"
					},
					"firstRowAsHeader": true
				},
				"schema": [
					{
						"name": "SBD Name",
						"type": "String"
					},
					{
						"name": "Channel Code",
						"type": "String"
					},
					{
						"name": "Channel Name",
						"type": "String"
					},
					{
						"name": "Group Code",
						"type": "String"
					},
					{
						"name": "SBF Code",
						"type": "String"
					},
					{
						"name": "SBF Name",
						"type": "String"
					},
					{
						"name": "MOQ",
						"type": "String"
					},
					{
						"name": "Effective From",
						"type": "String"
					},
					{
						"name": "Effective To",
						"type": "String"
					},
					{
						"name": "Is Base",
						"type": "String"
					}
				]
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/AzureBlobNCSArchive')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/SBDFileTable')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "DataFoundationDW",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureSqlDWTable",
				"schema": [
					{
						"name": "SBD Name",
						"type": "nvarchar"
					},
					{
						"name": "Channel Code",
						"type": "nvarchar"
					},
					{
						"name": "Channel Name",
						"type": "nvarchar"
					},
					{
						"name": "Group Code",
						"type": "nvarchar"
					},
					{
						"name": "SBF Code",
						"type": "nvarchar"
					},
					{
						"name": "SBF Name",
						"type": "nvarchar"
					},
					{
						"name": "MOQ",
						"type": "nvarchar"
					},
					{
						"name": "Effective From",
						"type": "nvarchar"
					},
					{
						"name": "Effective To",
						"type": "nvarchar"
					},
					{
						"name": "Is Base",
						"type": "nvarchar"
					},
					{
						"name": "FilePath",
						"type": "nvarchar"
					},
					{
						"name": "LastModifiedTime",
						"type": "nvarchar"
					}
				],
				"typeProperties": {
					"schema": "dbo",
					"table": "tmpSBDFile"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/DataFoundationDW')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/SourceDataset_07h')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "67Server",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"cw_table": {
						"type": "String"
					}
				},
				"annotations": [],
				"type": "SqlServerTable",
				"schema": [],
				"typeProperties": {
					"schema": "dbo",
					"table": {
						"value": "@dataset().cw_table",
						"type": "Expression"
					}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/67Server')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/SourceDataset_b58')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "TASDB",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"cw_table": {
						"type": "String"
					}
				},
				"annotations": [],
				"type": "SqlServerTable",
				"schema": [],
				"typeProperties": {
					"schema": "dbo",
					"table": {
						"value": "@dataset().cw_table",
						"type": "Expression"
					}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/TASDB')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/SourceDataset_k3b')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "67Server",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"cw_table": {
						"type": "String"
					}
				},
				"annotations": [],
				"type": "SqlServerTable",
				"schema": [],
				"typeProperties": {
					"schema": "dbo",
					"table": {
						"value": "@dataset().cw_table",
						"type": "Expression"
					}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/67Server')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/SourceDataset_llg')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureDatafoundation",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"YearMonthDate": {
						"type": "string",
						"defaultValue": "2020/08/31"
					},
					"AFileName": {
						"type": "string",
						"defaultValue": "RTRM_cloud03_2020Aug31.gz"
					}
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"fileName": {
							"value": "@dataset().AFileName",
							"type": "Expression"
						},
						"folderPath": {
							"value": "@dataset().YearMonthDate",
							"type": "Expression"
						},
						"container": "cntleap"
					},
					"columnDelimiter": "|",
					"compressionCodec": "gzip",
					"compressionLevel": "Optimal",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": [
					{
						"name": "branch_code",
						"type": "String"
					},
					{
						"name": "branch_location",
						"type": "String"
					},
					{
						"name": "retailer_code",
						"type": "String"
					},
					{
						"name": "retailer_name",
						"type": "String"
					},
					{
						"name": "address_1",
						"type": "String"
					},
					{
						"name": "address_2",
						"type": "String"
					},
					{
						"name": "pin_number",
						"type": "String"
					},
					{
						"name": "area_code",
						"type": "String"
					},
					{
						"name": "area",
						"type": "String"
					},
					{
						"name": "town_code",
						"type": "String"
					},
					{
						"name": "town",
						"type": "String"
					},
					{
						"name": "town_class",
						"type": "String"
					},
					{
						"name": "city",
						"type": "String"
					},
					{
						"name": "state",
						"type": "String"
					},
					{
						"name": "mobile_number",
						"type": "String"
					},
					{
						"name": "phone_number",
						"type": "String"
					},
					{
						"name": "contact_person",
						"type": "String"
					},
					{
						"name": "stl_name",
						"type": "String"
					},
					{
						"name": "dse_name",
						"type": "String"
					},
					{
						"name": "frequency",
						"type": "String"
					},
					{
						"name": "distance",
						"type": "String"
					},
					{
						"name": "class_code",
						"type": "String"
					},
					{
						"name": "class",
						"type": "String"
					},
					{
						"name": "channel_code",
						"type": "String"
					},
					{
						"name": "channel",
						"type": "String"
					},
					{
						"name": "subchannel_code",
						"type": "String"
					},
					{
						"name": "subchannel",
						"type": "String"
					},
					{
						"name": "mr_account_code",
						"type": "String"
					},
					{
						"name": "mr_account_name",
						"type": "String"
					},
					{
						"name": "credit_limit",
						"type": "String"
					},
					{
						"name": "credit_period",
						"type": "String"
					},
					{
						"name": "invoice_limit",
						"type": "String"
					},
					{
						"name": "certificate_type",
						"type": "String"
					},
					{
						"name": "gst_number",
						"type": "String"
					},
					{
						"name": "pan_no",
						"type": "String"
					},
					{
						"name": "dl_number",
						"type": "String"
					},
					{
						"name": "dl_expiry_date",
						"type": "String"
					},
					{
						"name": "email",
						"type": "String"
					},
					{
						"name": "dob",
						"type": "String"
					},
					{
						"name": "doa",
						"type": "String"
					},
					{
						"name": "status",
						"type": "String"
					},
					{
						"name": "default_warehouse_code",
						"type": "String"
					},
					{
						"name": "default_warehouse",
						"type": "String"
					},
					{
						"name": "restricted_orderswap_status",
						"type": "String"
					},
					{
						"name": "lattitude",
						"type": "String"
					},
					{
						"name": "longitude",
						"type": "String"
					},
					{
						"name": "retailer_radius",
						"type": "String"
					}
				]
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/AzureDatafoundation')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/SourceDataset_sqi')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "DataFoundationDW",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureSqlDWTable",
				"schema": [],
				"typeProperties": {
					"schema": "dbo",
					"table": "tmpBranchMultipleDSEData"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/DataFoundationDW')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/SourceDataset_xvt')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "DFSQLDB",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"cw_table": {
						"type": "String"
					}
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [],
				"typeProperties": {
					"schema": "dbo",
					"table": {
						"value": "@dataset().cw_table",
						"type": "Expression"
					}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/DFSQLDB')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/67Server')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "SqlServer",
				"typeProperties": {
					"connectionString": "[parameters('67Server_connectionString')]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/AzureBlobNCSArchive')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureBlobStorage",
				"typeProperties": {
					"connectionString": "[parameters('AzureBlobNCSArchive_connectionString')]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/AzureDatafoundation')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureBlobStorage",
				"typeProperties": {
					"connectionString": "[parameters('AzureDatafoundation_connectionString')]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/AzureSqlMI1')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureSqlMI",
				"typeProperties": {
					"connectionString": "[parameters('AzureSqlMI1_connectionString')]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/AzureSynapseAnalyticsBackup')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureSqlDW",
				"typeProperties": {
					"connectionString": "[parameters('AzureSynapseAnalyticsBackup_connectionString')]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/DFSQLDB')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureSqlDatabase",
				"typeProperties": {
					"connectionString": "[parameters('DFSQLDB_connectionString')]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/DataFoundationDW')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureSqlDW",
				"typeProperties": {
					"connectionString": "[parameters('DataFoundationDW_connectionString')]",
					"servicePrincipalId": "[parameters('DataFoundationDW_properties_typeProperties_servicePrincipalId')]",
					"servicePrincipalKey": {
						"type": "SecureString",
						"value": "[parameters('DataFoundationDW_servicePrincipalKey')]"
					},
					"tenant": "[parameters('DataFoundationDW_properties_typeProperties_tenant')]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/TASDB')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "SqlServer",
				"typeProperties": {
					"connectionString": "[parameters('TASDB_connectionString')]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/ORDHistoryLoading')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Copy data1",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"additionalColumns": [
									{
										"name": "FileName",
										"value": "$$FILEPATH"
									}
								],
								"storeSettings": {
									"type": "AzureBlobStorageReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							},
							"sink": {
								"type": "SqlDWSink"
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "branch_name",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "branch_name",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "branch_code",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "branch_code",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "retailer_code",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "retailer_code",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "retailer_name",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "retailer_name",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "channel_description",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "channel_description",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "dse_code",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "dse_code",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "dse_name",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "dse_name",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "order_number",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "order_number",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "order_date",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "order_date",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "order_type",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "order_type",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "order_status",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "order_status",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "p_code",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "p_code",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "subbf",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "subbf",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "po_number",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "po_number",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "po_date",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "po_date",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "upc",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "upc",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "account_name",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "account_name",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "qty",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "qty",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "rlp",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "rlp",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "amount",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "amount",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "tc_code",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "tc_code",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "tc_name",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "tc_name",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "FileName",
											"type": "String"
										},
										"sink": {
											"name": "FileName",
											"type": "String",
											"physicalType": "nvarchar"
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "OrderHistoryFileCon",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "OrderHistoryTable",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					}
				],
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/OrderHistoryFileCon')]",
				"[concat(variables('factoryId'), '/datasets/OrderHistoryTable')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/DatafoundationADLS')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureBlobStorage",
				"typeProperties": {
					"connectionString": "[parameters('DatafoundationADLS_connectionString')]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/OrderHistoryFileCon')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "DatafoundationADLS",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"fileName": "ORDHTR_cloud01_2021Apr01.csv.gz",
						"folderPath": "2021/04/01",
						"container": "cntleap"
					},
					"columnDelimiter": "|",
					"compressionCodec": "gzip",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": [
					{
						"name": "branch_name",
						"type": "String"
					},
					{
						"name": "branch_code",
						"type": "String"
					},
					{
						"name": "retailer_code",
						"type": "String"
					},
					{
						"name": "retailer_name",
						"type": "String"
					},
					{
						"name": "channel_description",
						"type": "String"
					},
					{
						"name": "dse_code",
						"type": "String"
					},
					{
						"name": "dse_name",
						"type": "String"
					},
					{
						"name": "order_number",
						"type": "String"
					},
					{
						"name": "order_date",
						"type": "String"
					},
					{
						"name": "order_type",
						"type": "String"
					},
					{
						"name": "order_status",
						"type": "String"
					},
					{
						"name": "p_code",
						"type": "String"
					},
					{
						"name": "subbf",
						"type": "String"
					},
					{
						"name": "po_number",
						"type": "String"
					},
					{
						"name": "po_date",
						"type": "String"
					},
					{
						"name": "upc",
						"type": "String"
					},
					{
						"name": "account_name",
						"type": "String"
					},
					{
						"name": "qty",
						"type": "String"
					},
					{
						"name": "rlp",
						"type": "String"
					},
					{
						"name": "amount",
						"type": "String"
					},
					{
						"name": "tc_code",
						"type": "String"
					},
					{
						"name": "tc_name",
						"type": "String"
					}
				]
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/DatafoundationADLS')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/OrderHistoryTable')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "DataFoundationDW",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureSqlDWTable",
				"schema": [
					{
						"name": "branch_name",
						"type": "nvarchar"
					},
					{
						"name": "branch_code",
						"type": "nvarchar"
					},
					{
						"name": "retailer_code",
						"type": "nvarchar"
					},
					{
						"name": "retailer_name",
						"type": "nvarchar"
					},
					{
						"name": "channel_description",
						"type": "nvarchar"
					},
					{
						"name": "dse_code",
						"type": "nvarchar"
					},
					{
						"name": "dse_name",
						"type": "nvarchar"
					},
					{
						"name": "order_number",
						"type": "nvarchar"
					},
					{
						"name": "order_date",
						"type": "nvarchar"
					},
					{
						"name": "order_type",
						"type": "nvarchar"
					},
					{
						"name": "order_status",
						"type": "nvarchar"
					},
					{
						"name": "p_code",
						"type": "nvarchar"
					},
					{
						"name": "subbf",
						"type": "nvarchar"
					},
					{
						"name": "po_number",
						"type": "nvarchar"
					},
					{
						"name": "po_date",
						"type": "nvarchar"
					},
					{
						"name": "upc",
						"type": "nvarchar"
					},
					{
						"name": "account_name",
						"type": "nvarchar"
					},
					{
						"name": "qty",
						"type": "nvarchar"
					},
					{
						"name": "rlp",
						"type": "nvarchar"
					},
					{
						"name": "amount",
						"type": "nvarchar"
					},
					{
						"name": "tc_code",
						"type": "nvarchar"
					},
					{
						"name": "tc_name",
						"type": "nvarchar"
					},
					{
						"name": "FileName",
						"type": "nvarchar"
					},
					{
						"name": "LastModifiedDatetime",
						"type": "varchar"
					},
					{
						"name": "FileSetId",
						"type": "bigint",
						"precision": 19
					},
					{
						"name": "channel_type_name",
						"type": "nvarchar"
					}
				],
				"typeProperties": {
					"schema": "dbo",
					"table": "tmpRawLEAPTAS_ORDHTR"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/DataFoundationDW')]"
			]
		}
	]
}